<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <!--
  <system.webServer>
    <handlers>
      <remove name="aspNetCore"/>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
  -->
	<connectionStrings>
		<add name="IESEntities"		connectionString="metadata=res://*/IESEntityModel.csdl|res://*/IESEntityModel.ssdl|res://*/IESEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Lyness\SSAPPVFQAS;initial catalog=IES;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="genTracEntities" connectionString="metadata=res://*/PTMEntityModel.csdl|res://*/PTMEntityModel.ssdl|res://*/PTMEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Lyness\SSAPPVFQAS;initial catalog=genTRAC;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="GenBoeEntities" connectionString="metadata=res://*/BOEEntityModel.csdl|res://*/BOEEntityModel.ssdl|res://*/BOEEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Lyness\SSAPPVFQAS;Initial Catalog=GenBOESpace;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<appSettings>
		<!-- General Settings -->
		<add key="ActiveDirectoryPath" value="GC://dc=us,dc=lmco,dc=com" />
		<!--<add key="ActiveDirectoryPath" value="GC://usadc-gtm.us.lmco.com" />-->
		<add key="BOEUrl" value="http://dev-genboe.ssc.lmco.com/" />
		<add key="PTMUrl" value="http://dev-ptm.ssc.lmco.com/" />
		<add key="RDMUrl" value="http://dev-rdm.ssc.lmco.com/" />
		<add key="RDSBUrl" value="http://dev-rdsb.ssc.lmco.com/" />
		<add key="PPUrl" value="https://space.p.external.lmco.com/sites/fbo/CCDME/Estimating/Tools/default.aspx?RootFolder=%2Fsites%2Ffbo%2FCCDME%2FEstimating%2FTools%2FProPricer%20User%20Forum%2FProPricer%2FProPricer%20Server%20Icons&amp;FolderCTID=0x0120007A9FC2393F740A4CAE02B8F033B82084&amp;View={604DDCA8-CDC3-4239-BE21-2BBF106308D9}&amp;InitialTabId=Ribbon%2ERead&amp;VisibilityContext=WSSTabPersistence" />
		<add key="RPMUrl" value="http://dev-rpm.ssc.lmco.com/Home/" />
		<add key="ACVUrl" value="https://dev-acv.ssc.lmco.com" />
		<add key="NLFUrl" value="https://dev-nlf.ssc.lmco.com" />
		<add key="EEPPUrl" value="http://uat-eEPP.ssc.lmco.com" />
		<add key="AdminUrl" value="http://dev-ies.ssc.lmco.com/Admin" />
		<add key="IESPortalAdminGroups" value="us\EBS.EstimationInitiative.DevTeam" />
		<add key="HelpdeskEmailAddress" value="generation-support.fc-ssc@lmco.com" />
		<add key="PeopleSvcUrl" value="https://gateway.apps.nsrca-ocpp.ssc.lmco.com/people-svc/graphql"/>
		<add key="oAuthDomain" value="https://authuat.p.external.lmco.com/"/>
		<add key="oAuthIESClientId" value="eo-ssc-ies"/>
		<add key="oAuthIESClientSecret" value="4yUByyvJIO9oubWtq1LQiPp7jgX9zMkkyYzrHkIu"/>
	</appSettings>
	
</configuration>