<?xml version="1.0" encoding="utf-8"?>
<configuration>


	<connectionStrings>
		<add name="IESEntities"	connectionString="metadata=res://*/IESEntityModel.csdl|res://*/IESEntityModel.ssdl|res://*/IESEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Lyness\SSAPPVFQAS;initial catalog=IES;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="genTracEntities" connectionString="metadata=res://*/PTMEntityModel.csdl|res://*/PTMEntityModel.ssdl|res://*/PTMEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Lyness\SSAPPVFQAS;initial catalog=genTRAC;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="GenBoeEntities" connectionString="metadata=res://*/BOEEntityModel.csdl|res://*/BOEEntityModel.ssdl|res://*/BOEEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Lyness\SSAPPVFQAS;Initial Catalog=GenBOESpace_UAT;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<appSettings>
		<!-- General Settings -->
		<add key="ActiveDirectoryPath" value="GC://dc=us,dc=lmco,dc=com" />
		<!--<add key="ActiveDirectoryPath" value="GC://usadc-gtm.us.lmco.com" />-->
		<add key="HelpdeskEmailAddress" value="generation-support.fc-ssc@lmco.com" />
		<add key="PeopleSvcUrl" value="https://gateway.apps.nsrca-ocpp.ssc.lmco.com/people-svc/graphql"/>
	</appSettings>
</configuration>