<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
	<!--<system.web>
		<authentication mode="Windows" />
		<authorization>
			<allow roles="us\EBS.EstimationInitiative.DevTeam,us\EBS.EstimationInitiative.ApprovedDevAndTestUsers,us\EBS.EstimationInitiative.AacctDevTeam" />
			<deny users="*" />
		</authorization>
	</system.web>
	<system.webServer>
		<handlers>
			<remove name="aspNetCore"/>
			<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified"/>
		</handlers>
		<aspNetCore processPath="dotnet" arguments=".\IESPortal.Backend.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess"  />
	</system.webServer>-->

</configuration>