div.WarningBanner {
    text-align: center; 
    background-color: #fff68f; 
    color:  black;
    border: 2px solid black;
    border-radius: 5px;
    overflow: hidden;
    font-size: 14px;
    max-width: 1600px;
    padding: 2px 0 2px 0;
    word-spacing: normal;
    margin: 0 auto 3px auto;
}

div.bannerContainer
{
    display:inline;
    width:100%;
    text-align:center;
}

div.MaintenanceBanner {
    text-align: center;
    background-color:red;
    color: white;
    border: 2px solid darkred;
    border-radius: 5px;
    overflow: hidden;
    font-size: 14px;
    max-width: 1600px;
    padding: 2px 0 2px 0;
    word-spacing: normal;
    margin: 0 auto 3px auto;
}

div.maintenanceCountdownTimer {
    font-weight: bold;
}

body.bannerBody {
    margin-top: 4px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}