body {
    background: url(images/orion-bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

.lmpi-header {
    width: 100%;
    max-width: 100%;
    text-align: center;
    color: #ccc;
    font-size: .8em;
    background: #2f464d;
    padding: 5px;
}

#navbar { 
    margin-top: -1px;
}

.navbar-inverse {
    background-color: #6a95a0;
    border-color: transparent;
    border-radius: 0;
}

.collapse .navbar-collapse {
    padding-bottom: 0px;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    margin-bottom: -6px;
}

.navbar-inverse .navbar-collapse {
    text-align: center;
    border-color: #668086;
}

.navbar-inverse .navbar-toggle {
    border-color: #668086;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}

.navbar-inverse .navbar-nav>li.open>a {
    background-color: white !important;
    color: black;
    font-weight: bold;
}

.navbar-inverse .navbar-nav>li>a:hover {
    background-color: #88aab3;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
    background-color: #88aab3;
}

.navbar-inverse .navbar-nav > .open > a, 
.navbar-inverse .navbar-nav > .open > a:hover, 
.navbar-inverse .navbar-nav > .open > a:focus {
    color: #333333;
}

#ies-li-a {
    padding: 10px;
}

#ies-logo-nav {
    width: 50px;
}

.row-centered {
    text-align: center;
}

#logo-header {
    text-align: center;
}

.carousel-indicators{
    bottom:0px;
    display:none;
}
.carousel-running .carousel-indicators {
    display: initial;
}
@media only screen and (max-height: 935px) {
    #logo-header img{
        height:200px;
    }
    #ies-home .button-img {
        width: 200px
    }
}
@media only screen and (max-height: 875px) {
    #logo-header img {
        height: 160px;
    }
    #ies-home .button-img {
        width: 150px;
    }
}

.ies-logo {
    width: 100%;
    max-width: 350px;
    height: auto;
    margin-bottom: 30px;
}

.lm-logo {
    text-align: right;
}

.lm-logo>img {
    width: 220px;
}

.button-row {
    text-align: center;
}

.button-img {
    width: 250px;
    border-radius: 10px;
}

.button-row .button-img {
    margin:10px;
}

.module-logo {
    width: 100%;
    border-radius: 5px;
}
@media screen and (max-width: 1040px) {
    .button-row .button-img {
    width:200px;
    }
}

@media screen and (max-width: 740px) {
    .button-row .button-img {
    width:150px;
    }
}

@media screen and (max-width: 590px) {
    .button-row .button-img {
    width:80%;
    }
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus,
.nav > li > a:hover,
.nav > li > a:focus {
    background-color: #7ea4b0 !important;
}

.footerVersionInfo{
    font-size: 75%;
    text-align: center;
}

.admin-link {
    text-align: center;
    text-decoration: underline;
}

button.ies,
button.ies-action
{
    border-radius: 3px;
    border: 1px solid #A6A6A6;
    padding: 0px 10px;
    line-height: 24px;
    background: linear-gradient(to bottom, #EEEEEE, #D6D6D6 1px, #E6E6E6);
    -pie-background: linear-gradient(to bottom, #EEEEEE, #D6D6D6 1px, #E6E6E6);
    background-color: #E6E6E6;
    margin-right: 10px;
    font-weight: bold;
    font-size: 12px;
    font-family: Verdana;
    color: #0E2314;
    cursor: pointer;
    behavior: url('pie/pie.htc');
    word-spacing: normal;

    position: relative;
}

button.ies-action {
    background: linear-gradient(to bottom, #32DE68, #7BB98F 1px, #558E65);
    -pie-background: linear-gradient(to bottom, #32DE68, #7BB98F 1px, #558E65);
    background-color: #EEEEEE;
}

button.ies[disabled],
button.ies-action[disabled],
button.ies.disabled,
button.ies-action.disabled
{
    border: 1px solid #D9D9D9;
    background: linear-gradient(to bottom, #F8F8F8, #EDEDED 1px, #F4F4F4);
    -pie-background: linear-gradient(to bottom, #F8F8F8, #EDEDED 1px, #F4F4F4);
    background-color: #EEEEEE;
    color: #B9B9B9;
    text-shadow: 0 0 2px rgba(185,185,185,0.25);
    cursor: default;
    behavior: url('/Content/pie/pie.htc');
}

button.ies.loader
{
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    -pie-background: linear-gradient(to bottom, #FFFFFF, #FFFFFF);
    color: transparent;
    color: white\0/; /* IE 8 only because it can't handle color: transparent; */
    text-shadow: none;
    behavior: url('/Content/pie/pie.htc');
}

.css3pie-position-fix
{
    position: relative;
}

.buttons
{
    word-spacing: -1em;
    margin-bottom: 10px;
    height: 28px;
} 

div.inline,
.buttons.inline
{
    display: inline;
}

.form-row {
    display: block;
    margin-bottom: 10px;
}

.form-label {
    display:inline-block;
    font-weight: bold;
    min-width: 120px;
    margin-right: 10px;
    vertical-align: top;
    margin-top: 3px;
}

.form-element
{
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.last-form-row {
    margin-bottom: 0px !important;
}

.module-header-data
{
    line-height: 16px;
    background: linear-gradient(to bottom, #929292, #696969 1px, #404040);
    -pie-background: linear-gradient(to bottom, #929292, #696969 1px, #404040);
    background-color: #444444;
    border: 1px solid #2F2F2F;
    border-radius: 3px 3px 0px 0px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    font-family: Arial,Calibri,Verdana,Helvetica,Sans-Serif;
    vertical-align: middle;
    padding: 9px 10px;
    max-width: 1400px;
    behavior: url('/Content/pie/pie.htc');
}

.module-content-data
{
    padding: 10px;
    border-radius: 0px 0px 3px 3px;
    background-color: #FFFFFF;
    border: 1px solid #8C8C8C;
    border-top: 0;
    max-width: 1400px;
    behavior: url('/Content/pie/pie.htc');
}

.module .row{
    margin-left:0;
    margin-right:0;
}

.validation-box
{
    border: 2px solid #ff0000;
    background: #ffffff url(images/warning_small.png) no-repeat 10px 10px;
    display:block;
    margin-bottom:10px;
    min-height: 36px;
    padding: 10px 10px 10px 55px;
}

.hidden
{
    visibility: hidden !important;
}

.pointer
{
    cursor: pointer;
}

.underline
{
    text-decoration: underline;
}

.bold
{
    font-weight: bold;
}

.normal
{
    font-weight: normal;
}

.error-details
{
    margin: 10px;
    font-size:11px;
    text-align:left;
    padding:10px;
    border:2px solid red;   
    word-wrap: break-word; 
}

/**
***** JQUERY UI Overrides
*/

.ui-dialog
{
    color: #333333;
    font-family: Arial,Calibri,Verdana,Helvetica,Sans-Serif;
    font-size: 11px;
    overflow: visible;
    z-index: 1100 !important;
}

.ui-dialog.ui-widget {
	font-family: Arial,Calibri,Verdana,Helvetica,Sans-Serif;
	font-size: 11px;
}

ui-widget {
	font-family: Verdana,Arial,sans-serif;
	font-size: 1.1em;
}

.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
	font-family: Verdana,Arial,sans-serif;
}
.ui-widget-content {
	border: 1px solid #aaaaaa;
	background: #ffffff/*{bgColorContent}*/ url(images/ui-bg_flat_75_ffffff_40x100.png)/*{bgImgUrlContent}*/ 50%/*{bgContentXPos}*/ 50%/*{bgContentYPos}*/ repeat-x/*{bgContentRepeat}*/;
	color: #222222/*{fcContent}*/;
}
.ui-widget-content a {
	color: #222222/*{fcContent}*/;
}
.ui-widget-header {
	border: 1px solid #aaaaaa/*{borderColorHeader}*/;
	background: #cccccc/*{bgColorHeader};
	url(images/ui-bg_highlight-soft_75_cccccc_1x100.png)/*{bgImgUrlHeader}; 50%/*{bgHeaderXPos}; 50%/*{bgHeaderYPos};
	repeat-x/*{bgHeaderRepeat}*/; 
	color: #222222/*{fcHeader}*/;
}
.ui-widget-header a {
	color: #222222/*{fcHeader}*/;
}
/* Interaction states
----------------------------------*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	border: 1px solid #d3d3d3/*{borderColorDefault}*/;
	background: #e6e6e6/*{bgColorDefault}*/ url(images/ui-bg_glass_75_e6e6e6_1x400.png)/*{bgImgUrlDefault}*/ 50%/*{bgDefaultXPos}*/ 50%/*{bgDefaultYPos}*/ repeat-x/*{bgDefaultRepeat}*/;
	color: #555555/*{fcDefault}*/;
}

.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
	color: #555555/*{fcDefault}*/;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	border: 1px solid #999999/*{borderColorHover}*/;
	background: #dadada/*{bgColorHover}*/ url(images/ui-bg_glass_75_dadada_1x400.png)/*{bgImgUrlHover}*/ 50%/*{bgHoverXPos}*/ 50%/*{bgHoverYPos}*/ repeat-x/*{bgHoverRepeat}*/;
	color: #212121/*{fcHover}*/;
}
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited {
	color: #212121/*{fcHover}*/;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
	border: 1px solid #aaaaaa/*{borderColorActive}*/;
	background: #ffffff/*{bgColorActive}*/ url(images/ui-bg_glass_65_ffffff_1x400.png)/*{bgImgUrlActive}*/ 50%/*{bgActiveXPos}*/ 50%/*{bgActiveYPos}*/ repeat-x/*{bgActiveRepeat}*/;
	color: #212121/*{fcActive}*/;
}
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
	color: #212121/*{fcActive}*/;
	text-decoration: none;
}
.ui-sortable-helper {
    display: table;
}
/* Common modal styles */
.modal-dialog {
    z-index: 2000;
    position: fixed !important;
}
.modal-title-bar {
    cursor: move;
    margin: 2px;
    padding: 5px 6px 0px 6px;
    font-weight: bold;
    font-size: 12px;
    font-family: Arial,Calibri,Verdana,Helvetica,Sans-Serif;
    background-image: url(images/ui-bg_highlight-soft_75_cccccc_1x100.png);
    background-position: 50% 50%;
    background-repeat: repeat-x;
    border-radius: 4px;
}
.modal-title-text {
    position: relative;
    top: 2px;
}
.modal-close-box {
    float: right;
    position: relative;
    top: -4px;
    right: -3px;
    padding: 2px 4px 0px 4px;
    background-color: #EDEDED;
    border: solid 1px #D3D3D3;
    border-radius: 4px;
}
.modal-close-box:hover {
    cursor: pointer;
    background-color: #E4E4E4;
    border-color: #999;
}
.modal-dialog i.glyphicon-remove {
    color: #888;
}
.modal-close-box:hover i.glyphicon-remove {
    color: #454545;
}
.modal-content-area {
    padding: 10px;
    font-size: 11px;
    font-family: Arial,Calibri,Verdana,Helvetica,Sans-Serif;
}
.modal-backdrop {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.1;
}
/* This allows tinymce fullscreen to work inside a modal dialog */
.modal.in .modal-dialog {
  -webkit-transform: none;
      -ms-transform: none;
       -o-transform: none;
          transform: none;
}

.display-none
{
    display: none !important;
}

.page-loading
{
    position: fixed;
    left:0px;
    top:0px;
    display: block;
    width: 100%;
    height:100%;
    text-align:center;
    z-index: 1110 !important;
    background: transparent url(images/clear_transparent_img.png) repeat 0 0;
}

.loading-box
{
    display: block;
    height: 74px;
    width: 110px;
    margin: 300px auto;
    background: transparent url(images/message_large_gray.png) no-repeat 0 0;
    text-align: center;
}

.loading-box span
{
    color: #ffffff;
    font-size: 12px;
}

.loader
{
    *zoom: 1;
    background: transparent url(images/ajax-loader.gif) center center no-repeat !important;
    min-height: 28px;
    min-width: 41px;
    cursor:auto;
}

.loader.white
{
    background: transparent url(images/in_progress_white.gif) center center no-repeat !important;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 41px;
    height: 28px;
    padding: 10px 5px 7px;
}

.right{
    text-align: right !important;
}

.left{
    text-align: left !important;
}

.datepicker-padding {
    margin-top: 15px;
}

.timepicker-padding {
    margin-top: -20px;
}

 #CommonDialog .buttons {
     margin-top: 10px;
     margin-bottom: 0;
 }

.ui-widget-header {
     background-color: #7D9BA3;
 }

/* Notification Bar*/
.notification-bar
{
    position: fixed;
    left:0px;
    top:0px;
    width: 100%;
    height:100%;
    text-align:center;
    background: transparent;
    z-index: 940 !important;
}

.notification
{  
    display: block;
    margin: 150px auto;
    display: inline-block;
    *zoom: 1;
    width: auto;
    color: #ffffff;
    background: #505050;
    border-radius: 17px;
    box-shadow: 4px 4px 7px grey;
    line-height: 22px;
    word-spacing: normal;
    font-weight: bold;
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.message-close-button
{ 
    background: transparent url(images/message_close.png) 0 0 no-repeat;
    height: 12px;
    width:12px;
   
}

.home .notification-bar
{ 
    z-index: 940 !important;
}

.home .notification 
{
    background:#5F8F9E;
}

/* END Notification Bar*/

div.action-buttons {
    display: flex;
}

.error
{
    color:Red;
}
.securityerror
{
    margin: 50px 20px 500px 20px;
}

/* GRID
----------------------------------------------------------*/

.grid 
{
    table-layout: fixed;
}

.grid div.delete
{
    background: transparent url(images/delete.png) no-repeat 0 0;
    width: 13px;
    height: 13px;
    padding-left: 0px;
    margin: auto;
}

.grid div.delete:hover
{
    background: transparent url(images/deletehover.png) no-repeat 0 0;
    cursor: pointer;
}

.grid th.delete
{
    padding: 5px;
    width: 13px;
    vertical-align: bottom;
}

.grid th
{
    overflow: hidden;
}

.grid td
{
    vertical-align: middle;
    width: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-left: none;
    padding-top: 4px;
    padding-bottom: 4px;
}

.grid td > *
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    display: block;
}

.grid th > input[type="checkbox"], 
.grid td > input[type="checkbox"]
{
    width: auto;
    display: inline;
    padding: 0;
}

.grid td .checkmark
{
    width: 18px;
}

.grid .filter-textbox 
{
    width: 10px;
}

.grid .filter-left,
.grid .filter-right,
.grid .filter-middle
{
    display:inline-block;
    *display: inline;
    *zoom: 1;
    width: 4px;
    height: 24px;
}

.grid .filter-left
{
    background: transparent url(images/filter_left.png) no-repeat 0 0; 
}

.grid .filter-right
{
    background: transparent url(images/filter_right.png) no-repeat 0 0;
}

.grid .filter-middle
{
    width: auto;
    background: transparent url(images/filter_middle.png) repeat-x 0 0;
    border: none;
    vertical-align: top;
}

.grid .filter-middle input
{
    border: none;
    background: transparent;
    margin-top: 4px;
}

.grid.editable tbody input,
.grid.editable tbody textarea
{
    border: 0px;
    vertical-align: middle;
    padding: 0px;
}

.grid.editable tbody select
{
    border: none;
    width: 100%;
}

.grid.editable
{
    border: none;
}

.grid.editable td
{
    border: 1px solid #b2b2b2;
}

.grid.editable td.selected
{
    border: 2px solid #505050;
}

.grid.readonly tr:hover
{
    background-color: #E2F0F5;
}

.grid.readonly td
{
    border-bottom: 1px solid #b2b2b2;
    padding: 4px 5px;
}

.grid.readonly tbody a
{
    text-decoration: none;
}

.grid.readonly tbody td:hover a
{
    text-decoration: underline;
}

.grid.readonly tbody div.delete
{
    padding-left: 2px;
}

.grid .empty-grid-text,
.grid .in-use
{
    color: #838383;
}

.column-sort-header
{
    color:#5297AD;
    cursor: pointer;
}

.addEditLink {
    text-decoration: underline;
    cursor: pointer;
}

.delete-checkbox
{
    width: 35px;
    *padding-left: 0px;
    text-align: center;
}

#pickListForm div.row {
    margin-bottom: 5px;
}

.application-list {
    padding-left: 10px;
}

.application-label {
    width: 100px;
}

.online-offline-radio {
    padding-left: 5px;
    padding-right: 5px;
    display: inline;
}

.manage-offline-hr {
    margin-top: 10px;
}

.eeppLogo {
    background-image: url(/Content/images/logo_eEPP.jpg);
    background-size: cover;
}

.acvLogo {
    background-image: url(/Content/images/logo_ACV.jpg);
    background-size: cover;
}