/*For LaborTask and LaborTaskStatic pages*/

.resourceCol {
    width: 70px;
}

.historicalHoursCol {
    width: 77px;
}

.proposedHoursCol {
    width: 78px;
}

.brcCol {
    width: 77px;
    text-wrap: wrap;
}

.proposedLegacyResorceCol {
    width: 77px;
    text-wrap: wrap;
}

.proposedBrcCol {
    width: 77px;
    text-wrap: wrap;
}

.totalProposedLegacyBrcCol {
    width: 77px;
    text-wrap: wrap;
}

/*RMS Only*/
.laborSkillMixCol {
    width: 70px;
}

.includedCol {
    width: 40px;
}

.boeSkillMixCol {
    width: 65px;
}

.currentResourceCol {
    width: 86px;
}

.rmsButtonCol {
    width: 38px;
}

.autoMatchBtn {
    margin-bottom: 5px;
}

/*Space Only*/
.ucotCol {
    width: 62px;
}

.historicalSkillMixCol {
    width: 87px;
}

.proposedSkillMixCol {
    width: 89px;
}

.ucotGrandTotalCol {
    width: 62px;
    text-wrap: wrap;
}