<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>ReleaseTFS</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>ptm.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>__SiteName__</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="genTracEntities" Order="1" Enabled="False">
          <Destination Path="__genTracEntities__" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=Cudan\SSAPPVFDEV;Initial Catalog=genTRAC;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\genTracEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/PTMEntityModel.csdl|res://*/PTMEntityModel.ssdl|res://*/PTMEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Cudan\SSAPPVFDEV;initial catalog=genTRAC;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="GenBoeEntities" Order="2" Enabled="False">
          <Destination Path="__GenBoeEntities__" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=Cudan\SSAPPVFDEV;Initial Catalog=GenBOESpace;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\GenBoeEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/BOEEntityModel.csdl|res://*/BOEEntityModel.ssdl|res://*/BOEEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Cudan\SSAPPVFDEV;Initial Catalog=GenBOESpace;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)genTracEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/PTMEntityModel.csdl|res://*/PTMEntityModel.ssdl|res://*/PTMEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;__genTracEntities__integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)GenBoeEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/BOEEntityModel.csdl|res://*/BOEEntityModel.ssdl|res://*/BOEEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;__GenBoeEntities__Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>