<div class="metrics-chart module">
    <div class="module-header-data">{{caption}}</div>
    <div class="details metrics-chart-icons">
        <span class="floatLeft">Excel button</span>
        <span class="floatRight">?</span>
    </div>
    <div class="details-middle metrics-chart-title indent2">{{title}}</div>
    <canvas class="chart chart-bar chart-xs"  chart-data="data" chart-series="series"
           chart-labels="labels"  chart-options="options" chart-colors="options.colors" ></canvas>
</div>