<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="GenBoeEntities" connectionString="metadata=res://*/BOEEntityModel.csdl|res://*/BOEEntityModel.ssdl|res://*/BOEEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Cudan\SSAPPVFDEV;Initial Catalog=GenBOEMST_Dev;integrated security=True;Encrypt=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<!--<add name="GenBoeEntities" connectionString="metadata=res://*/BOEEntityModel.csdl|res://*/BOEEntityModel.ssdl|res://*/BOEEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Cudan\SSAPPVFDEV;Initial Catalog=GenBOESpace_Dev;integrated security=True;Encrypt=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
	</connectionStrings>
	<appSettings>
		<!-- General Settings -->
		<add key="ActiveDirectoryPath" value="GC://dc=us,dc=lmco,dc=com" />
		<!--<add key="ActiveDirectoryPath" value="GC://usadc-gtm.us.lmco.com" />-->
		<add key="LMIProxy" value="http://proxy-zsgov.external.lmco.com"/>
	</appSettings>
</configuration>