/* Site Layout */

 * {
     margin: 0;
 }

 html, body {
     height: 100%;
 }

 .wrapper {
     min-height: 95%;
     height: auto !important;
     overflow: auto;
     height: 100%;
     background-color: #e4e4e4; 
 }

 .footer, .push {
     height: 40px;
 }

.home{
    background-color: #e4e4e4;
}

.navbar a{
    color: white !important;
}
.lmproprietary
{
    color: #ccc;
    text-align: center;
    background-color: #2f464d;
    width: 100%;
    font-size: 11.2px;
    line-height: 1.4285;
    padding: 5px 0px;
}

.footerVersionInfo{
    font-size: 75%;
}

body {
    padding-top: 50px !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 5px;
    padding-right: 5px;
    width: 1200px;
    position: relative;
    margin: 0 auto;
    background-color: #ffffff;
    color: #666666;
    font-size: 12px;
    font-family: Arial;
    min-height: 200px;
    margin-top: 10px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Override the default bootstrap behavior */
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5 {
    text-align:right
}

/* Override the default bootstrap behavior */
.row {
    margin-top: 5px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#editMappings input,
#editMappings select,
#editMappings textarea {
    max-width: 350px;
}

 #editMappings select.select-large {
     max-width: 625px;
 }

#editMappings .halfSize {
    max-width: 175px;
}

input.sectionTitle.input-full, input.contentTitle.input-full {
    width: 280px;
}

footer {
    margin: auto !important;
    display: table !important;
}

/* IES color Palette */

.ies-red {
    color: #fe0002 !important;
}

.ies-red-bk {
    background-color: #fe0002 !important;
}

.ies-green {
    color: #008000 !important;
}

.ies-green-bk {
    background-color: #008000 !important;
}

/* General Css */
.no-left-padding {
    padding-left: 0 !important;
}

.loader
{
    *zoom: 1;
    background: transparent url(images/ajax-loader.gif) center center no-repeat !important;
    min-height: 28px;
    min-width: 41px;
    cursor:auto;
}

.loader.white
{
    background: transparent url(images/in_progress_white.gif) center center no-repeat !important;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 41px;
    height: 28px;
    padding: 10px 5px 7px;
}

.right{
    text-align: right !important;
}

.left{
    text-align: left !important;
}

.center{
    text-align: center !important;
}

.details,
.details-middle{
    font-size: 11px;
    background-color:#ADD3FF;
    border-top: solid #47A8BF 2pt;
}

.details div,
.details-middle div{
    text-align: left;
    padding: 0 0;
    margin-left: 0;
    margin-right: 0;
    color: #3D3668;
}

.details-middle{
    background-color:#D6EBFF;
}

.bold {
    font-weight:bold;
    color: black !important;
}

input[type="checkbox"] {
    margin: 0;
    vertical-align: sub;
}

.scrollable {
    overflow-x: auto;
    overflow-y: auto;
}

.module
{
    margin: auto;
    box-shadow: 0px 0px 3px #999999;
    border-radius: 3px;
    behavior: url('/Content/pie/pie.htc');
    word-spacing: normal;
    margin-bottom: 6px;
}

.module-header-data
{
    line-height: 16px;
    background: linear-gradient(to bottom, #929292, #696969 1px, #404040);
    -pie-background: linear-gradient(to bottom, #929292, #696969 1px, #404040);
    background-color: #444444;
    border: 1px solid #2F2F2F;
    border-radius: 3px 3px 0px 0px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    font-family: Arial,Calibri,Verdana,Helvetica,Sans-Serif;
    vertical-align: middle;
    padding: 9px 10px;
    max-width: 1400px;
    behavior: url('/Content/pie/pie.htc');
}

.module-content-data
{
    padding: 10px;
    border-radius: 0px 0px 3px 3px;
    background-color: #FFFFFF;
    border: 1px solid #8C8C8C;
    border-top: 0;
    max-width: 1400px;
    behavior: url('/Content/pie/pie.htc');
}

.module .row{
    margin-left:0;
    margin-right:0;
}

.indent {
    padding-left: 15px !important;
}

.indent2 {
    padding-left: 5px !important;
}

.indentLeft {
    margin-left: -25px !important;
}

.floatRight {
    float: right;
}

.floatLeft {
    float: left;
}

.pointer {
    cursor: pointer;
}

.clearAllFilter {
    width: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.loadFilter {
    width: 20px;
    margin-right: 40px;
    cursor: pointer;
}

.saveFilter {
    width: 20px;
    margin-right: 70px;
    cursor: pointer;
}

/* Paging */
.paging a.current-page,
.paging a.page {
    text-decoration: none;
    cursor: pointer;
}

.paging
{
    float: left;
    display: block;
}

.paging-area
{
     padding:0px; 
     margin:0px;
}
.grid .paging
{
    margin-top: -16px;
}

.paging a.page
{
    border: 1px solid #5297AD;
    padding: 2px 4px;
    margin: 3px 2px;
    min-height: 0px;
}

.paging .current-page
{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    color: #ffffff;
    background-color: #5297AD;
    border: 1px solid #5297AD;
    padding: 2px 4px;
    margin: -1px 2px 3px 2px;
    position: relative;
}

.paging .elipsis
{
    *margin-right: 4px;
    *vertical-align: middle;
}

.paging-control
{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    word-spacing: normal;
    vertical-align: top;
}

.module-content-data .paging-control.page-number
{
    margin-top: -1px;
}

.pages
{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin-right: 5px;
    position: relative;
    top: -3px;
    *top: 0px;
}

.iframe {
    width: 100%;
    height: 30px;
    border: none;
}

.padRight {
    padding-right: 15px;
}

.org-list {
    display: inline-flex;
}

.org-list div {
    padding-right: 15px;
}

.org-list div span {
    padding-left: 5px;
    vertical-align: text-bottom;
}

li.dropdown {position: static;}
ul.dropdown-menu.uib-datepicker-popup { background-color: #424242; }

#rdmMenu {
    width: 690px !important; 
    background-color: #424242;
    text-align: center;
    border: none;
    padding: 0;
    padding-top: 0;
    font-size: 85%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.list-inline > li {
    padding: 0 10px !important;
}

.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-color: #424242 !important;
  outline: 0;
}

/* Temporary Dropdown Menu */
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus
{
    background-color: transparent;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus
{
    background-color: #757575;
}

.dropdown > a:hover,
.dropdown > a:focus{
    text-decoration: none;
}
/* End Temporary Dropdown Menu */

.navbar-nav > li > .dropdown-menu {
    margin-top: -6px !important;
}

.navbar-header {
    float: none !important;
    margin: 0px auto !important;
    display: table !important;
}

.rdm-logo {
    height: 68px;
    border-radius: 5px;
    vertical-align: top;
}

.rdm-logo-div {
    height: 68px;
    padding-top: 2px;
    margin-bottom: 9px;
    display:inline-block;
    width:100%;
}

.lmlogo {
    float: right;
    padding-top: 5px;
    width: 200px;
}


.no-padding {
    padding: 0 !important;
}

.no-top-margin {
    margin-top: 0 !important;
}

.top-margin-2 {
    margin-top: 2px !important;
}

th, tr.subheader td, td.subheader
{
    background: transparent url(images/tableHeaderBG.png) repeat-x 0 0;
    font-weight: normal;
    line-height: 16px;
    padding: 5px;
    text-align: left;
    white-space:nowrap;
}

/* GRID
----------------------------------------------------------*/

.grid 
{
    table-layout: fixed;
}

.grid th
{
    overflow: hidden;
}

.grid td
{
    vertical-align: middle;
    width: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-left: none;
    padding-top: 4px;
    padding-bottom: 4px;
}

.grid td > *
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    display: block;
}

.grid th > input[type="checkbox"], 
.grid td > input[type="checkbox"]
{
    width: auto;
    display: inline;
    padding: 0;
}

.grid td .checkmark
{
    width: 18px;
}

.grid .filter-textbox 
{
    width: 10px;
}

.grid.editable tbody input,
.grid.editable tbody textarea
{
    border: 0px;
    vertical-align: middle;
    padding: 0px;
}

.grid.editable tbody select
{
    border: none;
    width: 100%;
}

.grid.editable
{
    border: none;
}

.grid.editable td
{
    border: 1px solid #b2b2b2;
}

.grid.editable td.selected
{
    border: 2px solid #505050;
}

.grid.readonly tr:hover
{
    background-color: #E2F0F5;
}

.grid.readonly td
{
    border-bottom: 1px solid #b2b2b2;
    padding: 4px 5px;
}

.grid .empty-grid-text,
.grid .in-use
{
    color: #838383;
}

/* RATE
---------------------------------------------------*/
.rate-grid-ui {
    width: 1168px;
    height: 480px;
}

.rate-grid-ui .ui-grid-viewport {
    height: 378px !important;
}

.rate-grid-ui .ui-grid-header {
    height: 55px !important;
}

.rate-grid-ui .top-grid-line {
    border-top: 1px;
    border-top-style: solid;
    border-top-color: #666666;
}

/*.rate-grid-ui .ui-grid-cell,
.rate-grid-ui .ui-grid-row {*/
    /*height: 18px !important; /*Do not change row height in CSS change gridOptions - rowHeight. This makes a white gap at the bottom of the grid.*/
/*}*/

.rate-grid-ui .ui-grid-header-cell-label {
    color: #666666 !important;
}
.rate-grid-ui .ui-grid-canvas .ui-grid-cell-contents {
    color: black;
    padding-top: 0;
    padding-bottom: 10px;
}

.rate-grid-ui .manage-rates,
.manage-attachments, 
.cobra-detail-grid-ui,
.replication-grid-ui {
    padding-left: 5px;
}

.rate-grid-ui .disabled-text,
.rate-grid-ui .disabled-text div {
    color: #666666 !important;
}

.rate-grid-ui .dirty-text,
.rate-grid-ui .dirty-text div,
.burden-pool-grid-ui .dirty-text,
.burden-pool-grid-ui .dirty-text div,
.file-attachment-grid-ui .dirty-text,
.file-attachment-grid-ui .dirty-text div,
.cobra-detail-grid-ui .dirty-text,
.cobra-detail-grid-ui .dirty-text div,
.replication-grid-ui .dirty-text,
.replication-grid-ui .dirty-text div
{
    color: #008000 !important; /* Frank sent screen shot of this green - #008000*/
}

.burden-pool-grid-ui .dirty-text input[type=checkbox] {
    outline: 2px solid #008000;
}

.burden-pool-grid-ui {
    height: 610px;
}

.rate-grid-ui .invalid-text,
.rate-grid-ui .invalid-text div {
    color: #fe0002 !important;
}
    
.rate-grid-ui .value-required,
.rate-grid-ui .value-required div {
    border: 1px solid #ffcccc;
}

.no-spinner {
    -moz-appearance:textfield;
}

/* Chrome keeps putting spinners on input elements in Rate grid. */
/* I tried to stop it with this, but it isn't working. */
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.rate-grid { 
    overflow-x:scroll;
    overflow-y:visible;
    width:870px;
    margin-left: 299px;
}

.isDirty .ui-grid-row .ui-grid-cell {
    color: red;
    background-color: yellow;
}

.isDirty {
    background-color: #ff0000;
}

/* Remove a gap at the top of the list when we add lines to the grid in Compare page. */ 
#compareRateGrid ui-grid-canvas{
    padding: 0px;
}

/* REVISION
----------------------------------------------------------*/
#RevisionGrid {
    width: 100%;
}

#RevisionGrid td {
    vertical-align: top;
}

.revision-revision {
    width: 7%;
}

.revision-date-published {
    width: 7%;
    white-space: normal !important;
}

.revision-release-notes {
    width: 62%;
}

.revision-manage {
    width: 24%;
}

/* SECTION
----------------------------------------------------------*/
#SectionGrid {
    width: 100%;
}

.section-level {
    width: 10%;
}

.section-order {
    width: 10%;
}

.section-title {
    width: 45%;
}

.section-internal {
    width: 15%;
}

#AdditionalContentGrid {
    width: 700px;
}

.content-title {
    width: 70%;
}

/* Document Tree
----------------------------------------------------------*/

.btn {
    margin-right: 8px;
}

#tree-root.drag-disabled .angular-ui-tree-handle {
    cursor: text;
}

.angular-ui-tree-handle {
    background: #f8faff;
    border: 1px solid #dae2ea;
    color: #7c9eb2;
    padding: 10px 10px;
}

.angular-ui-tree-handle:hover {
    color: #438eb9;
    background: #f4f6f7;
    border-color: #dce2e8;
}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

tr.angular-ui-tree-empty {
    height:100px
}

.group-title {
    background-color: #687074 !important;
    color: #FFF !important;
}

.section-content-icon {
    margin-right: 5px;
}

.section-content {
    color: black;
    font: Arial;
    font-weight: normal;
    font-size: 12px;
}

/* Slider on Compare page style
----------------------------------------------------------*/
#red-slider .md-thumb:after, #red-slider .md-track-fill {
    background-color: #fe0002 !important;
    border-color: #fe0002 !important;
}

#red-slider .md-focus-thumb, #red-slider .md-focus-ring, #red-slider .md-sign {
    background-color: #fe0002 !important;
    border-color: #fe0002 !important;
    border-top-color: #fe0002 !important;
}

#red-slider .md-sign:after {
    border-top-color: #fe0002 !important;
}

/* Bootstrap datepicker style
----------------------------------------------------------*/
.lm-datepicker {
    width: 55px;
    font-family: Arial,Calibri,Verdana,Helvetica,Sans-Serif;
    margin-right: 20px;
}

.datepicker table thead th:last-child,
.datepicker table tbody td:last-child {
    border-style: none;
}

.datepicker table thead th:first-child,
.datepicker table tbody td:first-child {
    border-style: none;
}

/* VERSION
----------------------------------------------------------*/
.tolerance-container {
    display: inline;
}

.tolerance-container md-input-container {
    margin-right: 0px !important;
}

.tolerance-container input {
    margin-top: -5px !important;
    height: 21px !important;
}

.version-select {
    padding-right:5px;
    padding-left: 5px;
}

.full-width {
    width: 100%;
}

.version-field {
    width: 10%;
}

.version-value {
    width: 45%;
}

.version-red {
    color: red;
}

.replication-grid-ui {
    height: 480px;
}

/* COBRA Mapping Details Grid
---------------------------------------------------*/
.cobra-detail-grid-ui {
    width: 1000px;
    height: 480px;
}

.cobra-detail-grid-ui .top-grid-line,
.replication-grid-ui .top-grid-line{
    border-top: 1px;
    border-top-style: solid;
    border-top-color: #666666;
}

.cobra-detail-grid-ui .ui-grid-header-cell-label,
.replication-grid-ui .ui-grid-header-cell-label {
    color: #666666 !important;
}
.cobra-detail-grid-ui .ui-grid-canvas .ui-grid-cell-contents,
.replication-grid-ui .ui-grid-canvas .ui-grid-cell-contents {
    color: black;
    padding-top: 0;
    padding-bottom: 10px;
}

.cobra-detail-grid-ui .disabled-text,
.cobra-detail-grid-ui .disabled-text div,
.replication-grid-ui .disabled-text,
.replication-grid-ui .disabled-text div {
    color: #666666 !important;
}

.cobra-detail-grid { 
    overflow-x:scroll;
    overflow-y:visible;
    width:1000px;
}

/* FORMS
------------------------------------------------------*/

button.ies,
button.ies-action,
button.ies-warning,
button.ies-danger {
    border-radius: 3px;
    border: 1px solid #A6A6A6;
    padding: 0px 10px;
    line-height: 24px;
    background: linear-gradient(to bottom, #EEEEEE, #D6D6D6 1px, #E6E6E6);
    -pie-background: linear-gradient(to bottom, #EEEEEE, #D6D6D6 1px, #E6E6E6);
    background-color: #E6E6E6;
    margin-right: 10px;
    font-weight: bold;
    font-size: 12px;
    font-family: Verdana;
    color: #0E2314;
    cursor: pointer;
    behavior: url('pie/pie.htc');
    word-spacing: normal;
    position: relative;
}

button.ies-action {
    background: linear-gradient(to bottom, #32DE68, #7BB98F 1px, #558E65);
    -pie-background: linear-gradient(to bottom, #32DE68, #7BB98F 1px, #558E65);
    background-color: #EEEEEE;
}

button.ies-danger {
    background: linear-gradient(to bottom, #fe0002, #fe0002 1px, #930000);
    -pie-background: linear-gradient(to bottom, #fe0002, #fe0002 1px, #930000);
    background-color: #EEEEEE;
}

button.ies-warning {
    background: linear-gradient(to bottom, #f3b603, #fffa8c 1px, #fcc508);
    -pie-background: linear-gradient(to bottom, #f3b603, #fffa8c 1px, #fcc508);
    background-color: #EEEEEE;
}

button.ies[disabled],
button.ies-action[disabled],
button.ies-warning[disabled],
button.ies-danger[disabled] {
    border: 1px solid #D9D9D9;
    background: linear-gradient(to bottom, #F8F8F8, #EDEDED 1px, #F4F4F4);
    -pie-background: linear-gradient(to bottom, #F8F8F8, #EDEDED 1px, #F4F4F4);
    background-color: #EEEEEE;
    color: #B9B9B9;
    text-shadow: 0 0 2px rgba(185,185,185,0.25);
    cursor: default;
    behavior: url('/Content/pie/pie.htc');
}

button.generation.loader
{
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    -pie-background: linear-gradient(to bottom, #FFFFFF, #FFFFFF);
    color: transparent;
    color: white\0/; /* IE 8 only because it can't handle color: transparent; */
    text-shadow: none;
    behavior: url('/Content/pie/pie.htc');
}

.css3pie-position-fix
{
    position: relative;
}

.buttons
{
    word-spacing: -1em;
    margin-bottom: 10px;
    height: 28px;
}

.buttons.inline
{
    display: inline;
}

.form-row {
    display: block;
    margin-bottom: 10px;
}

.form-label {
    display:inline-block;
    font-weight: bold;
    min-width: 160px;
    margin-right: 10px;
    vertical-align: top;
    margin-top: 3px;
}

.form-label-wide {
    display:inline-block;
    font-weight: bold;
    min-width: 190px;
    margin-right: 10px;
    vertical-align: top;
    margin-top: 3px;
}

.form-element
{
    display: inline-block;
    *display: inline;
    *zoom: 1; 
}

.form-input-wide
{
    width: 380px;
}

.last-form-row {
    margin-bottom: 0px !important;
}

table thead th:first-child,
table tbody td:first-child
{
    border-left: 1px solid #b2b2b2;
}

table thead th:last-child,
table tbody td:last-child
{
    border-right: 1px solid #b2b2b2;
}

table thead th
{
    border-top : 1px solid #b2b2b2;
    border-bottom: 1px solid #b2b2b2;
}

/*
* IE8 doesn't support :lastchild so this is a class 
* version that supports it for tables with the class in its last element
*/
table thead th.last-child,
table tbody td.last-child
{
    border-right: 1px solid #b2b2b2;
}

.columnLines {
    border-right: 1px solid #b2b2b2;
}

/*
 * Note: Styling for this rule and the previous rule is the same, but for some wierd reason IE
 * cannot resolve correctly if the two selectors are combined in a single rule.
 */
table thead th:last-child,
table tbody td:last-child
{
    border-right: 1px solid #b2b2b2;
}

.validation-box
{
    border: 2px solid #ff0000;
    background: #ffffff url(images/warning_small.png) no-repeat 10px 10px;
    display:block;
    margin-bottom:10px;
    min-height: 36px;
    padding: 10px 10px 10px 55px;
}

.hidden
{
    visibility: hidden !important;
}

.pointer
{
    cursor: pointer;
}

.underline
{
    text-decoration: underline;
}

.bold
{
    font-weight: bold;
}

.normal
{
    font-weight: normal;
}

.error-details
{
    margin: 10px;
    font-size:11px;
    text-align:left;
    padding:10px;
    border:2px solid red;   
    word-wrap: break-word; 
}

.notificationMessage {
    border: 1px solid #32DE68;
    margin-bottom: 10px;
}
/**
***** JQUERY UI Overrides
*/
.ui-dialog {
    color: #333333;
    font-family: Arial,Calibri,Verdana,Helvetica,Sans-Serif;
    font-size: 11px;
    overflow: visible;
    z-index: 1100 !important;
}

.ui-dialog.ui-widget {
	font-family: Arial,Calibri,Verdana,Helvetica,Sans-Serif;
	font-size: 11px;
}

ui-widget {
	font-family: Verdana,Arial,sans-serif;
	font-size: 1.1em;
}

.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
	font-family: Verdana,Arial,sans-serif;
}
.ui-widget-content {
	border: 1px solid #aaaaaa;
	background: #ffffff/*{bgColorContent}*/ url(images/ui-bg_flat_75_ffffff_40x100.png)/*{bgImgUrlContent}*/ 50%/*{bgContentXPos}*/ 50%/*{bgContentYPos}*/ repeat-x/*{bgContentRepeat}*/;
	color: #222222/*{fcContent}*/;
}
.ui-widget-content a {
	color: #222222/*{fcContent}*/;
}
.ui-widget-header {
	border: 1px solid #aaaaaa/*{borderColorHeader}*/;
	background: #cccccc/*{bgColorHeader};
	url(images/ui-bg_highlight-soft_75_cccccc_1x100.png)/*{bgImgUrlHeader}; 50%/*{bgHeaderXPos}; 50%/*{bgHeaderYPos};
	repeat-x/*{bgHeaderRepeat}*/; 
	color: #222222/*{fcHeader}*/;
}
.ui-widget-header a {
	color: #222222/*{fcHeader}*/;
}
/* Interaction states
----------------------------------*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	border: 1px solid #d3d3d3/*{borderColorDefault}*/;
	background: #e6e6e6/*{bgColorDefault}*/ url(images/ui-bg_glass_75_e6e6e6_1x400.png)/*{bgImgUrlDefault}*/ 50%/*{bgDefaultXPos}*/ 50%/*{bgDefaultYPos}*/ repeat-x/*{bgDefaultRepeat}*/;
	color: #555555/*{fcDefault}*/;
}

.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
	color: #555555/*{fcDefault}*/;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	border: 1px solid #999999/*{borderColorHover}*/;
	background: #dadada/*{bgColorHover}*/ url(images/ui-bg_glass_75_dadada_1x400.png)/*{bgImgUrlHover}*/ 50%/*{bgHoverXPos}*/ 50%/*{bgHoverYPos}*/ repeat-x/*{bgHoverRepeat}*/;
	color: #212121/*{fcHover}*/;
}
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited {
	color: #212121/*{fcHover}*/;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
	border: 1px solid #aaaaaa/*{borderColorActive}*/;
	background: #ffffff/*{bgColorActive}*/ url(images/ui-bg_glass_65_ffffff_1x400.png)/*{bgImgUrlActive}*/ 50%/*{bgActiveXPos}*/ 50%/*{bgActiveYPos}*/ repeat-x/*{bgActiveRepeat}*/;
	color: #212121/*{fcActive}*/;
}
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
	color: #212121/*{fcActive}*/;
	text-decoration: none;
}

.ui-sortable-helper {
    display: table;
}

/* Common modal styles */
.modal-dialog {
    z-index: 2000;
    position: fixed !important;
}

.modal-title-bar {
    cursor: move;
    margin: 2px;
    padding: 5px 6px 0px 6px;
    font-weight: bold;
    font-size: 12px;
    font-family: Arial,Calibri,Verdana,Helvetica,Sans-Serif;
    background-color: #7D9BA3;
    border-radius: 4px;
}

.modal-title-text {
    position: relative;
    top: 2px;
}

.modal-close-box {
    float: right;
    position: relative;
    top: -4px;
    right: -3px;
    padding: 2px 4px 0px 4px;
    background-color: #EDEDED;
    border: solid 1px #D3D3D3;
    border-radius: 4px;
}

.modal-close-box:hover {
    cursor: pointer;
    background-color: #E4E4E4;
    border-color: #999;
}

.modal-dialog i.glyphicon-remove {
    color: #888;
}

.modal-close-box:hover i.glyphicon-remove {
    color: #454545;
}

.modal-content-area {
    padding: 10px;
    font-size: 11px;
    font-family: Arial,Calibri,Verdana,Helvetica,Sans-Serif;
}

.modal-backdrop {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.1;
}

lv-backdrop {
    z-index: 50;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.modal-separator {
    margin: 10px 0px 10px 0px;
}

.modal-border {
    border: 1px solid #b2b2b2;
    margin: 10px 0px;
}
.modal-footer {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Edit Content modal */
.edit-content-modal .modal-dialog {
    top: 2%;
    left: 20%;
}

.modal-input {
    border: 1px solid #b2b2b2;
    max-width: 100%;
    width: 100%;
    padding: 2px 2px 2px 2px;
    background-color: transparent;
}

/* This allows tinymce fullscreen to work inside a modal dialog */
.modal.in .modal-dialog {
  -webkit-transform: none;
      -ms-transform: none;
       -o-transform: none;
          transform: none;
}

.black {
    color: black !important;
}

.warning-color {
    color: #f3b603;
}

.center-icons {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* Main Menu */

.mainMenuContainer {
    height: 30px;
    width: 100%;
    background-color: #D4D4D4;
    padding-top: 7px;
    margin-top: 4px;
}

.mainMenuBar {
    height: 30px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.mainMenuBar > div {
    display: inline-block;
}

.mainMenuBar > div > a {
    padding: 8.63px 25px 7.5px 25px;
    color: #666666;
}

.mainMenuBar > div a:hover,
.mainMenuBar > div a.subMenuLink:hover {
    text-decoration: none;
    background-color: #C4C4C4;
}

.mainMenuBar > div > a.selected,
.mainMenuBar > div > a.selected:hover {
    background-color: #505050;
    color: #FFFFFF;
    border-top: 7px solid #72ABBC;
}

.mainMenuBar > div > a.subMenuLink {
    cursor: default;
    background-image: url(images/menu_arrow.png);
    background-position: right center;
    background-repeat: no-repeat;
}

.mainMenuBar div.subMenu {
    position: absolute;
    display: none;
    border-left: 1px solid #B2B2B2;
    border-right: 1px solid #B2B2B2;
    border-bottom: 1px solid #B2B2B2;
    margin-top: 5.5px;
    background-color: #E8E8E8;
}

.mainMenuBar > div:hover div.subMenu
{
    display: block;
    z-index: 1000;
}

.mainMenuBar div.subMenu a
{
    display: block;
    padding: 0px 10px;
    line-height: 23px;
    color: #666666;
}

.mainMenuBar div.subMenu a.whosOnline {
    cursor: pointer;
}
/* End Main Menu */

/* Cobra Year Configuration */
#AddButton-CobraYear {
    margin-bottom: 5px;
}

#SaveButton-CobraYear {
    margin-top: 5px;
}

.cobra-grid-ui {
    width: 317px;    
}

.cobra-grid-ui .ui-grid-header-cell-label {
    color: #666666 !important;
}
.cobra-grid-ui .ui-grid-canvas .ui-grid-cell-contents {
    color: black;
}

.cobra-grid-ui .ui-grid-contents-wrapper .ui-grid-render-container .ui-grid-viewport {
    overflow-x: hidden !important;
    border-bottom: solid 1px #d4d4d4;
}
/* End Cobra Year Configuration */

/* PPRD */
.EditLockTimeoutExpiration {
    color: red;
}
/* End PPRD */

/* Burden Pool and File Attachment Grid */
.burden-pool-grid-ui .ui-grid-header-cell .ui-grid-cell-contents,
.file-attachment-grid-ui .ui-grid-header-cell .ui-grid-cell-contents {
    height: 60px;
    white-space: normal;
}
/* End Burden Rates and File Attachment Grid */


 .display-none
 {
     display: none !important;
 }

 .page-loading
 {
     position: fixed;
     left:0px;
     top:0px;
     display: block;
     width: 100%;
     height:100%;
     text-align:center;
     z-index: 1110 !important;
     background: transparent url(images/clear_transparent_img.png) repeat 0 0;
 }

 .loading-box
 {
     display: block;
     height: 74px;
     width: 110px;
     margin: 300px auto;
     background: transparent url(images/message_large_gray.png) no-repeat 0 0;
     text-align: center;
 }

 .loading-box span
 {
     color: #ffffff;
     font-size: 12px;
 }

 #CommonDialog .buttons {
     margin-top: 10px;
     margin-bottom: 0;
 }

.ui-widget-header {
     background-color: #7D9BA3;
 }

/* Notification Bar*/
.notification-bar
{
    position: fixed;
    left:0px;
    top:0px;
    width: 100%;
    height:100%;
    text-align:center;
    background: transparent;
    z-index: 940 !important;
    pointer-events: none; /*Allow user to interact with page through transparent div*/
}

.notification
{  
    display: block;
    margin: 150px auto;
    display: inline-block;
    *zoom: 1;
    width: auto;
    color: #ffffff;
    background: #505050;
    border-radius: 17px;
    box-shadow: 4px 4px 7px grey;
    line-height: 22px;
    word-spacing: normal;
    font-weight: bold;
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 6px;
    padding-bottom: 6px;
    pointer-events: auto; /*Allow user to interact with notification while notification-bar has pointer events off*/
}

.message-close-button
{ 
    background: transparent url(images/message_close.png) 0 0 no-repeat;
    height: 12px;
    width:12px;
   
}

.home .notification-bar
{ 
    z-index: 940 !important;
}

.home .notification 
{
    background:#5F8F9E;
}

/* END Notification Bar*/

/* $mdDialog confirmation dialog - change order of buttons (i.e. place OK before Cancel) */
 md-dialog md-dialog-actions {
     display: block;
 }

 md-dialog md-dialog-actions button {
     float: right;
 }
/* END $mdDialog confirmation dialog */

.edit-mappings-modal .modal-dialog {
    top: 2%;
    left: 2%;
}

.publish-modal .modal-dialog {
    top: 2%;
    left: 2%;
    height: 900px;
    width: 1100px;
}

.publish-modal .form-element {
    width: 900px;
}

/* Help Modal  */
.help-icon {
    cursor: pointer;
    color: #5cb85c;
    float: right;
    font-size:24px;
    margin-top: 3px;
}

.help-icon:hover {
    color: #398439;
}

.help-modal .modal-dialog {
    top: 2%;
    left: 20%;
    width: 640px;
}

.help-modal .modal-dialog .form-element {
    width: 420px;
}

.help-modal .modal-dialog .form-label {
    width: 175px;
}

.help-modal button,
.help-modal a {
    margin-right: 0;
}

.md-track-ticks canvas{
    /* This fixes the ticks/steps being to the right of the slider */
    text-align: left;
    left: 0 !important;
}

 .whosonline-content {
     width: 550px;
 }

 .whosonline-table {
     width: 100%;
 }

 .whosonline-header-row {
     border-bottom: 1px solid;
     text-align: left;
     background: repeat-x scroll 50% 50% #CCCCCC;
 }

 .whosonline-row {
     border-bottom: 1px solid;
     text-align: left;
 }

 #IdentitySwappingDiv {
     margin-top: 5px;
     font-size: 11px;
 }

 #IdentitySwappingDiv input {
     padding: 2px 5px;
     line-height: normal;
 }

td .excel-button
{
    display: inline-block;
    vertical-align: middle;
    width: 32px;
    height: 32px;
    background: transparent url(images/excel.png) 0 0 no-repeat; 
}

td .word-button
{
    display: inline-block;
    vertical-align: middle;
    width: 32px;
    height: 32px;
    background: transparent url(images/word.png) 0 0 no-repeat; 
}

.action-link {
    display: inline;
    vertical-align: middle;
    margin-left: 6px;
}

/* Modal 'Confirm' dialog - mdDialog needs to display on top of any modal uibModal windows.*/
.md-dialog-backdrop.md-opaque {
    z-index: 10000;
}

.md-dialog-container {
    z-index: 10001;
}
/* End Modal 'Confirm' dialog - mdDialog needs to display on top of any modal uibModal windows.*/

 .tinyMceOutside {
      width: 850px;
 }

 .RevisionConfiguration .form-element {
     width: 900px;
 }

 .mce-i-my-pagebreak {
     background: transparent url(images/pagebreak.png) center center no-repeat !important;
     background-size: 16px 20px !important;
 }

.mce-i-undo-pagebreak {
    background: transparent url(images/undo-pagebreak.png) center center no-repeat !important;
    background-size: 16px 20px !important;
}

.bannerframe {
    border: none;
    height: 0;
    width: 100%;
}

div.bannerContainer
{
    margin-top: 10px;
}

.appOfflineFrame {
    width: 100%;
    top: 0;
    left: 0;
    height: 0px;
    border: 0px;
}

.error
{
    color:Red;
}
.securityerror
{
    margin: 50px 20px 500px 20px;
}

div.typeaheadcontainer ul.dropdown-menu {
    background-color: white;
}

.import-verification .title
{
    font-weight: bold;
    padding: 2px 0px;
    margin-top: 10px;
}

import-verification .container
{
    height: 275px;
    width: 670px;
    overflow: auto;
    margin-bottom: 10px;
}
