<div id="addDocumentModal">
    <div class="ui-widget-header modal-title-bar">Add Document<div class="modal-close-box" data-ng-click="$close()"><i class="glyphicon glyphicon-remove"></i></div></div>
    <div class="modal-content-area">
        <ul class="validation-box" data-ng-hide="error == null">
            <li>
                <div>{{error}}</div>
            </li>
        </ul>
        <div class="form-row css3pie-position-fix">
            <div gen-validation data-errors="$root.modalErrors"></div>
        </div>
        <div id="AddDocumentDivContent" class="addDocument-content">
            <div id="proposal-addDocument" class="form-row css3pie-position-fix">
                <div class="inline">Proposal:
                    <div id="helpIcon" class="help-icon" tooltip-placement="right-top" tooltip-popup-delay='500' uib-tooltip-html="helpText"></div>
                </div>
                <input id="proposalSelect" list="proposalList" type="text" autocomplete="on" data-ng-model="selectedValue" data-ng-trim="false" data-ng-change="setProposalId()">
                <datalist id="proposalList">
                    <option ng-repeat="proposal in model" propId="{{proposal.ProposalId}}" value="{{proposal.ProposalTrackingNumber}} - {{proposal.ProposalTitle}}"></option>
                </datalist>
            </div>
            <br/>
            <div class="form-row css3pie-position-fix">
                <div class="buttons right">
                    <button id="saveButton-addDocument" class="ies-action right-margin-10" disabled="disabled" data-ng-click="saveNewDocument()">Save</button>
                    <button id="cancelButton-addDocument" class="ies right-margin-10" data-ng-click="$close()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>