<div class="ui-grid-header">
    <div class="ui-grid-top-panel">
        <div class="ui-grid-header-viewport">
            <div class="ui-grid-header-canvas">
                <div class="ui-grid-header-cell-wrapper" data-ng-style="colContainer.headerCellWrapperStyle()">
                    <div class="ui-grid-header-cell-row" style="display: block;">
                        <div class="ui-grid-header-cell right-divider" style="display: none;" data-ng-repeat="groupColumn in grid.options.groupColumnDefs track by $index" col-name="{{groupColumn.name}}" >
                            <div class="ui-grid-cell-contents" data-ng-bind="groupColumn.displayName"></div>
                        </div>
                    </div>
                    <div class="ui-grid-header-cell-row">
                        <div class="ui-grid-header-cell ui-grid-clearfix" data-ng-repeat="col in colContainer.renderedColumns track by col.colDef.name" ui-grid-header-cell col="col" group-column-width-update render-index="$index"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>