<div class="form-row">
    <div class="form-label">
        <span>Workspace/Proposal Name *</span>
        <div class="help-icon" id="WorkspaceName-Help" onclick="CreateWorkspace.ToggleHelp(this);">
        </div>
        <!-- This comment is needed for the jquery animation to work in IE8... -->
        <div class="help-dialog" id="WorkspaceName-HelpDialog" style="width: 200px;">
            <div class="help-dialog-close"></div>
            <div class="help-dialog-text">
                Proposal or group name. Name is used in BOEs, reports and to identify your workspace.
            </div>
        </div>
    </div>
  
    <div class="form-element">
        <div data-ng-show="model.IsPLDIntegrated && model.PLD_PANumber !=''">
            <span>{{model.nextRevision}} </span><input name="WorkspaceName" data-ng-trim="false" class="half" id="WorkspaceName" data-ng-keyup="workspaceNameKeyUp()" data-ng-model="data.WorkspaceName" type="text" maxlength="88" />
        </div>
        <div data-ng-show="model.isPTMIntegrated && model.ptmTrackingNumber !== ''">
            <span>{{model.nextRevision}} </span><input class="half" data-ng-trim="false" data-ng-model="data.RevisionWorkspaceName" type="text" maxlength="88" />
        </div>
        <input ng-if="!model.IsPLDIntegrated" data-ng-hide="model.isPTMIntegrated && model.ptmTrackingNumber !== ''" name="WorkspaceName" class="full" id="WorkspaceName" data-ng-keyup="workspaceNameKeyUp()" data-ng-model="data.WorkspaceName" type="text" maxlength="100" />
    </div>
</div>
<div class="form-row">
    <div class="form-label">
        Description
    </div>
    <div class="form-element">
        <textarea data-ng-model="data.Description" name="Description" class="full ignoreValidation" id="Description" maxlength="1000" rows="2" cols="20"></textarea>
    </div>
</div>
<div class="form-row">
    <div class="form-label">
        URL *
        <div class="help-icon" id="URL-Help" onclick="CreateWorkspace.ToggleHelp(this);">
        </div>
        <!-- This comment is needed for the jquery animation to work in IE8... -->
        <div class="help-dialog" id="URL-HelpDialog" style="width: 200px;">
            <div class="help-dialog-close"></div>
            <div class="help-dialog-text">
                The URL to navigate to the Workspace. Must begin with a letter or number and can only contain letters, numbers, blanks, underscores and hyphens.
            </div>
        </div>
    </div>
    <div class="form-element">
        <span class="url">            
            {{ !model.IsPLDIntegrated ? model.applicationURL : getSantizedUrl() }}
            <span data-ng-show="model.isPTMIntegrated && model.ptmTrackingNumber !== ''">{{model.nextRevision}}</span>
        </span>
        <span data-ng-show="!model.IsPLDIntegrated">
            <input data-ng-hide="model.isPTMIntegrated && model.ptmTrackingNumber !== ''" name="ShortName" class="quarter" id="ShortName" data-ng-model="data.Shortname" type="text" maxlength="15">
        </span>
    </div>
</div>
<div class="form-row" data-ng-show="model.showProjectMap && !model.isSSC">
    <div class="form-label">Workspace Type</div>
    <div class="form-element">
        <select name="ProjectMapType" id="ProjectMapType" data-ng-change="setDecimalPrecisionDefaults(false)" data-ng-options="item.Value as item.Text for item in model.projectMapTypes | filter:{Disabled:false}" data-ng-model="data.ProjectMapType"></select>
    </div>
</div>
<div class="form-row">
    <div class="form-label">
        <span>Line of Business *</span>
        <div id="LOB-Help" data-ng-show="model.isPTMIntegrated" class="help-icon" onclick="CreateWorkspace.ToggleHelp(this);">
        </div>
        <!-- This comment is needed for the jquery animation to work in IE8... -->
        <div id="LOB-HelpDialog" data-ng-show="model.isPTMIntegrated" class="help-dialog" style="width: 200px;">
            <div class="help-dialog-close"></div>
            <div class="help-dialog-text">
                Line of Business is driven by the Tracking Number selected.
            </div>
        </div>
    </div>
    <div class="form-element" ng-if="model.IsPLDIntegrated">
        <div class="readonly-value" ng-init="data.LineOfBusinessID = model.LineOfBusiness && model.LineOfBusiness.trim()">
            {{ model.LineOfBusiness ? model.LineOfBusiness.trim() : 'NA'}}
        </div>
    </div>
    <div class="form-element" ng-if="!model.IsPLDIntegrated">
        <span data-ng-show="model.isPTMIntegrated && !model.isAdmin">{{getLOB()}}</span>
        <select data-ng-hide="model.isPTMIntegrated && !model.isAdmin" name="LineOfBusiness" id="LineOfBusiness" 
                data-ng-options="item.Id as item.Text for item in model.lobs | isActiveOrInitialPickListItem:data.LineOfBusinessID" 
                data-ng-model="data.LineOfBusinessID"></select>
    </div>
</div>
<div class="form-row" data-ng-show="model.isSSC">
    <div class="form-label">
        <span>Proposal Class *</span>
        <div id="ProposalClass-Help" data-ng-show="model.isPTMIntegrated" class="help-icon" onclick="CreateWorkspace.ToggleHelp(this);">
        </div>
        <!-- This comment is needed for the jquery animation to work in IE8... -->
        <div id="ProposalClass-HelpDialog" data-ng-show="model.isPTMIntegrated" class="help-dialog" style="width: 200px;">
            <div class="help-dialog-close"></div>
            <div class="help-dialog-text">
                Initial Proposal Class is driven by the Tracking Number selected.
            </div>
        </div>
    </div>
    <div class="form-element">
        <span data-ng-show="model.isPTMIntegrated && !model.isAdmin">{{getProposalClass()}}</span>
        <select data-ng-hide="model.isPTMIntegrated && !model.isAdmin" name="ProposalClass" id="ProposalClass" data-ng-options="item.Id as item.Text for item in model.proposalClassTypes | isActiveOrInitialPickListItem:data.ProposalClass" data-ng-model="data.ProposalClass"></select>
    </div>
</div>
<div class="form-row" data-ng-show="model.isSSC">
    <div class="form-label">
        <span>Contract Type *</span>
        <div id="ContractType-Help" data-ng-show="model.isPTMIntegrated" class="help-icon" onclick="CreateWorkspace.ToggleHelp(this);">
        </div>
        <!-- This comment is needed for the jquery animation to work in IE8... -->
        <div id="ContractType-HelpDialog" data-ng-show="model.isPTMIntegrated" class="help-dialog" style="width: 200px;">
            <div class="help-dialog-close"></div>
            <div class="help-dialog-text">
                Initial Contract Type(s) is driven by the Tracking Number selected.
            </div>
        </div>
    </div>
    <div class="form-element">
        <div data-ng-show="model.isPTMIntegrated && !model.isAdmin" class="form-element static" style="width:745px">{{getSelectedContractTypes()}}</div>
        <div data-ng-hide="model.isPTMIntegrated && !model.isAdmin" class="approver-selection-box">
            <div data-ng-repeat="item in model.contractTypes">
                <input type="checkbox" data-ng-show="item.IsActive || data.SelectedContractTypes.includes(item.Id)" checklist-value="item.Id" checklist-model="data.SelectedContractTypes" name="SelectedContractTypes" id="ContractType_{{item.Id}}" />
                <label data-ng-show="item.IsActive || data.SelectedContractTypes.includes(item.Id)" for="ContractType_{{item.Id}}">{{item.Text}}</label>
            </div>
        </div>
    </div>
</div>
<div class="form-row">
    <div class="form-label">
        <span>{{model.labelLeadPricer}} *</span>
        <div id="CostVolumeLead-Help" class="help-icon" onclick="CreateWorkspace.ToggleHelp(this);">
        </div>
        <!-- This comment is needed for the jquery animation to work in IE8... -->
        <div id="CostVolumeLead-HelpDialog" class="help-dialog" style="width: 200px;">
            <div class="help-dialog-close"></div>
            <div class="help-dialog-text">
                The individual who will perform the initial setup procedures before the BOE Authors
                begin the writing process.
            </div>
        </div>
    </div>
    <div class="form-element">
        <input id="CostVolumeLeadPricerDisplayName" name="CostVolumeLeadPricerDisplayName" type="text" class="half" maxlength="50" data-ng-model="data.CostVolumeLeadPricerDisplayName" />
    </div>
</div>
<div ng-if="model.IsPLDIntegrated" class="form-row" id="ContractDates" data-ng-show="!data.IsAttemptingToImport && (model.isSSC || data.ProjectMapType == '1' || data.ProjectMapType == '2')">
    <div class="form-label contract-start-date-label">
        Contract Start Date
    </div>
    <div class="form-element contract-start-date" style="vertical-align:bottom;">
        <span class="readonly-value">
            {{ model.ContractStartDate ? (model.ContractStartDate | date:'MM/yyyy') : 'N/A'}}
        </span>
    </div>
    <div class="form-label contract-end-date-label">
        Contract End Date
    </div>
    <div class="form-element contract-end-date" style="vertical-align:bottom;">
        <span class="readonly-value">
            {{ model.ContractEndDate ? (model.ContractEndDate | date:'MM/yyyy') : 'N/A'}}
        </span>
    </div>
</div>
<div class="form-row" id="ContractDates" data-ng-show="!model.IsPLDIntegrated && !data.IsAttemptingToImport && (model.isSSC || data.ProjectMapType == '1' || data.ProjectMapType == '2')">
    <div class="form-label">
        Contract Start Date *
    </div>
    <div class="form-element contract-start-date">
        <input class="normal-date" id="ContractStartDate" placeholder="mm/dd/yyyy" name="ContractStartDate" type="text" data-ng-model="data.ContractStartDate">
    </div>
    <div class="form-label contract-end-date-label">
        Contract End Date *
    </div>
    <div class="form-element contract-end-date">
        <input class="normal-date" id="ContractEndDate" placeholder="mm/dd/yyyy" name="ContractEndDate" type="text" data-ng-model="data.ContractEndDate">
    </div>
</div>
<div class="form-row" id="AllowGridEdit" data-ng-hide="model.isSSC || data.ProjectMapType == '1' || data.ProjectMapType == '2'">
    <div class="form-label">
        <span helptext="Allows Project Map data to be edited within the web interface grid.">Allow Grid Edit *</span>
    </div>
    <div class="form-element radio">
        <input id="AllowGridEdit-Yes" name="AllowGridEdit" text="Yes" type="radio" data-ng-model="data.AllowGridEdit" data-ng-value="true">
        <label for="AllowGridEdit-Yes">Yes</label>
        <input id="AllowGridEdit-No" name="AllowGridEdit" text="No" type="radio" data-ng-model="data.AllowGridEdit" data-ng-value="false">
        <label for="AllowGridEdit-No">No</label>
    </div>
</div>
<div class="form-row" ng-if="!model.IsPLDIntegrated">
    <div class="form-label" data-ng-hide="model.isSSC">
        Proposal Submittal Date
    </div>
    <div class="form-label" data-ng-show="model.isSSC">
        Anticipated Delivery Date
    </div>
    <div class="form-element proposal-submittal">
        <input data-ng-hide="model.isPTMIntegrated && !model.isAdmin" class="normal-date" id="ProposalSubmittalDate" name="ProposalSubmittalDate" placeholder="mm/dd/yyyy" type="text" data-ng-model="data.ProposalSubmittalDate">
        <span data-ng-show="model.isPTMIntegrated && !model.isAdmin">{{data.ProposalSubmittalDate}}</span>
    </div>
</div>
<div class="form-row" data-ng-show="model.isSSC && model.isPTMIntegrated">
    <div class="form-label">
        <span>Revised Anticipated Delivery Date</span>
        <div id="RevisedSubmittal-Help" class="help-icon" onclick="CreateWorkspace.ToggleHelp(this);">
        </div>
        <!-- This comment is needed for the jquery animation to work in IE8... -->
        <div id="RevisedSubmittal-HelpDialog" class="help-dialog" style="width: 200px;">
            <div class="help-dialog-close"></div>
            <div class="help-dialog-text">
                Revised Anticipated Delivery Date is driven by the Tracking Number selected.
            </div>
        </div>
    </div>
    <div class="form-element revised-submittal">
        <span class="form-element static">{{data.RevisedSubmittalDate}}</span>
    </div>
</div>
<div class="form-row">
    <div class="form-label">
        <span>Resource Decimal Precision</span>
        <div id="resource-decimal-precision-help" class="help-icon" onclick="CreateWorkspace.ToggleHelp(this);"></div>
        <div id="resource-decimal-precision-help-dialog" class="help-dialog" style="width: 200px;">
            <div class="help-dialog-close"></div>
            <div class="help-dialog-text">The number of decimal places to use for resource {{model.hoursLabel}} in the workspace. (0-6)</div>
        </div>
    </div>
    <div class="form-element">
        <input type="text" id="ResourceDecimalPrecision" name="ResourceDecimalPrecision" data-ng-model="data.ResourceDecimalPrecision" data-ng-change="warnPrecisionChange()" />
    </div>
</div>
<div class="form-row">
    <div class="form-label">
        <span>Cost Decimal Precision</span>
        <div id="cost-decimal-precision-help" class="help-icon" onclick="CreateWorkspace.ToggleHelp(this);"></div>
        <div id="cost-decimal-precision-help-dialog" class="help-dialog" style="width: 200px;">
            <div class="help-dialog-close"></div>
            <div class="help-dialog-text">The number of decimal places to use for resource costs in the workspace. (0 or 2)</div>
        </div>
    </div>
    <div class="form-element" id="CostPrecisionSelect">
        <select name="CostDecimalPrecision" id="CostDecimalPrecision" data-ng-model="data.CostDecimalPrecision" data-ng-change="warnCostPrecisionChange()">
            <option data-ng-value="0">0</option>
            <option data-ng-value="2">2</option>
        </select>
    </div>
</div>
<div class="form-row" data-ng-show="model.IsPLDIntegrated">
    <div class="form-label">
        <span>PLD PA Number</span>
        <div id="Tracking-Help" class="help-icon" onclick="CreateWorkspace.ToggleHelp(this);">
        </div>
        <div id="Tracking-HelpDialog" class="help-dialog" style="width: 200px;">
            <div class="help-dialog-close"></div>
            <div class="help-dialog-text">
                The Proposal Log Database  "PA Number".
            </div>
        </div>
    </div>
    <div class="form-element">        
        <div class="readonly-value">
            {{ model.PLD_PANumber}}
        </div>        
    </div>   
</div>
<div class="form-row" data-ng-hide="model.isSSC">
    <div class="form-label">
        RFP #
    </div>
    <div class="form-element">
        <input ng-readonly="model.IsPLDIntegrated" class="full ignoreValidation" id="RFPNumber" maxlength="100" name="RFPNumber" type="text" data-ng-model="data.RFPNumber">
    </div>
</div>
<div class="form-row" data-ng-show="model.IsPLDIntegrated">
    <div class="form-label">
        <span>PLD PA Title</span>
        <div id="Tracking-Help" class="help-icon" onclick="CreateWorkspace.ToggleHelp(this);">
        </div>
        <div id="Tracking-HelpDialog" class="help-dialog" style="width: 200px;">
            <div class="help-dialog-close"></div>
            <div class="help-dialog-text">
                The Proposal Log Database "PA Title".
            </div>
        </div>
    </div>
    <div class="form-element">
        <div class="readonly-value">
            {{ model.PLD_PATitle}}
        </div>
    </div>
    
</div>

<!--PTM Space-->
<div class="form-row" data-ng-show="model.isSSC">
    <div class="form-label">
        <span>PTM Tracking #</span>
        <div id="Tracking-Help" class="help-icon" onclick="CreateWorkspace.ToggleHelp(this);">
        </div>
        <!-- This comment is needed for the jquery animation to work in IE8... -->
        <div id="Tracking-HelpDialog" class="help-dialog" style="width: 200px;">
            <div class="help-dialog-close"></div>
            <div class="help-dialog-text">
                The Proposal Tracking System Number.
            </div>
        </div>
    </div>
    <div class="form-element">
        <span data-ng-show="model.isPTMIntegrated">{{data.TrackingNumber}}</span>
        <input data-ng-hide="model.isPTMIntegrated" class="full ignoreValidation" id="TrackingNumber" maxlength="100" name="TrackingNumber" type="text" data-ng-model="data.TrackingNumber">
    </div>
</div>
<div class="form-row" data-ng-show="model.isSSC && model.isPTMIntegrated">
    <div class="form-label">
        <span>RFP #</span>
        <div id="RFP-Help" class="help-icon" onclick="CreateWorkspace.ToggleHelp(this);">
        </div>
        <!-- This comment is needed for the jquery animation to work in IE8... -->
        <div id="RFP-HelpDialog" class="help-dialog" style="width: 200px;">
            <div class="help-dialog-close"></div>
            <div class="help-dialog-text">
                RFP # is driven by the Tracking Number selected.
            </div>
        </div>
    </div>
    <div class="form-element static">{{data.RFPNumber}}</div>
</div>
<div class="form-row" data-ng-show="model.isPTMIntegrated">
    <div class="form-label">
        <span>PTM Proposal Title</span>
        <div id="Title-Help" class="help-icon" onclick="CreateWorkspace.ToggleHelp(this);">
        </div>
        <!-- This comment is needed for the jquery animation to work in IE8... -->
        <div id="Title-HelpDialog" class="help-dialog" style="width: 200px;">
            <div class="help-dialog-close"></div>
            <div class="help-dialog-text">
                Proposal Title is driven by the Tracking Number selected.
            </div>
        </div>
    </div>
    <div class="form-element static">{{data.ProposalTitle}}</div>   
</div>
<div class="form-row" data-ng-show="model.isSSC && model.showEquivalentPersonsOption && !data.IsAttemptingToImport">
    <div class="form-label">
        <span>Is using Equivalent Person (EP)</span>
        <div id="UsingEP-Help" class="help-icon" onclick="CreateWorkspace.ToggleHelp(this);"></div>
        <!-- This comment is needed for the jquery animation to work in IE8... -->
        <div id="UsingEP-HelpDialog" class="help-dialog" style="width: 200px;">
            <div class="help-dialog-close"></div>
            <div class="help-dialog-text">
                Select 'No' if the proposal is being created with the intent of using Hours as Labor Spread values.
                Select 'Yes' if the proposal is being created with the intent of using Equivalent Person (EP) as Labor Spread values.
            </div>
        </div>
    </div>
    <div class="radio form-element">
        <input type="radio" id="UsingEp-Yes" name="UsingEP" data-ng-model="data.IsUsingEquivalentPerson" data-ng-value="true" text="Yes" />
        <label for="UsingEp-Yes">Yes</label>
        <input type="radio" id="UsingEp-No" name="UsingEP" data-ng-model="data.IsUsingEquivalentPerson" data-ng-value="false" text="No" />
        <label for="UsingEp-No">No</label>
    </div>
    <br />
</div>
<div id="UsingTMRow" class="form-row" data-ng-show="model.isSSC">
    <div class="form-label">
        <span>Use T&M Subcontractor/IWTA<br />Labor Rates</span>
        <div id="UsingTM-Help" class="help-icon" onclick="CreateWorkspace.ToggleHelp(this);"></div>
        <div id="UsingTM-HelpDialog" class="help-dialog" style="width: 200px;">
            <div class="help-dialog-close"></div>
            <div class="help-dialog-text">
                Select 'Yes' if this proposal is being created with the intent of using T&M Subcontractor/IWTA Labor Rates to develop the PBOEs/IBOEs; Otherwise, select 'No'.
            </div>
        </div>
    </div>
    <div class="radio form-element">
        <input type="radio" id="UsingTM-Yes" name="UsingTM" data-ng-model="data.IsUsingTM" data-ng-value="true" text="Yes" />
        <label for="UsingTM-Yes">Yes</label>
        <input type="radio" id="UsingTM-No" name="UsingTM" data-ng-model="data.IsUsingTM" data-ng-value="false" text="No" />
        <label for="UsingTM-No">No</label>
    </div>
    <br />
</div>
<div id="RteSizeRow" class="form-row">
    <div class="form-label">
        <span>Rich Text Editor Character<br />Limit</span>
        <div id="RteSizeLimit-Help" class="help-icon" onclick="CreateWorkspace.ToggleHelp(this);"></div>
        <div id="RteSizeLimit-HelpDialog" class="help-dialog" style="width: 200px;">
            <div class="help-dialog-close"></div>
            <div class="help-dialog-text">
                The maximum number of characters (between 100 and 100,000) per dialog box using Rich Text, excluding any HTML markup. One single-spaced page is approximately 3000 characters. This limit does not account for images and tables that an author may include which will increase the page count.
            </div>
        </div>
    </div>
    <div class="form-element">
        <input name="RteSizeLimit" class="quarter" id="RteSizeLimit" data-ng-keyup="rteSizeKeyUp()" data-ng-model="data.RteSizeLimit" type="text" />
        <span id="approxPages" data-ng-bind-html-unsafe="approxPages"></span>
    </div>
</div>
<div class="form-row">
    <div class="form-label">
        <span>MOQ Template BOEs *</span>
        <div id="using-template-boe-help" class="help-icon" onclick="CreateWorkspace.ToggleHelp(this);"></div>
        <div id="using-template-boe-help-dialog" class="help-dialog" style="width: 200px;">
            <div class="help-dialog-close"></div>
            <div class="help-dialog-text">Will this Workspace use the MOQ Template in its BOEs?</div>
        </div>
    </div>
    <div class="form-element" id="TemplateBoeSelect">
        <select name="UsingTemplateBoe" id="UsingTemplateBoe" data-ng-change="templateBoeChange()" data-ng-model="data.UsingTemplateBoe" data-ng-disabled="data.WorkspaceToCopyID > 0 && data.InitialUsingTemplateBoe == true">
            <option data-ng-value="true">Yes</option>
            <option data-ng-value="false">No</option>
        </select>
    </div>
</div>
<div class="form-row" data-ng-show="model.isSAPConfigurationEnabled">
    <div class="form-label">
        <span>SAP Connection Enabled *</span>
        <div id="using-template-boe-help" class="help-icon" onclick="CreateWorkspace.ToggleHelp(this);"></div>
        <div id="using-template-boe-help-dialog" class="help-dialog" style="width: 200px;">
            <div class="help-dialog-close"></div>
            <div class="help-dialog-text">Will this Workspace use SAP in its BOE?</div>
        </div>
    </div>
    <div class="form-element" id="SAPConnectionSelect">
        <select name="EnableSAPConnection" id="EnableSAPConnection" data-ng-model="data.EnableSAPConnection" data-ng-disabled="data.WorkspaceToCopyID > 0 || (!data.UsingTemplateBoe)">
            <option data-ng-if="data.UsingTemplateBoe === true && model.isSAPConfigurationEnabled" data-ng-value="true">Yes</option>
            <option data-ng-value="false">No</option>
        </select>
    </div>
</div>
<div id="CurrentPTMWorkspace" class="form-row" data-ng-show="model.isSSC">
    <div class="form-label">
        <span>Current Workspace</span>
    </div>
    <div class="radio form-element">
        <select name="CurrentPTMWorkspace" id="CurrentPTMWorkspace" data-ng-model="data.CurrentPTMWorkspace" data-ng-disabled="data.WorkspaceToCopyID > 0">
            <option data-ng-value="true">Yes</option>
            <option data-ng-value="false">No</option>
        </select>
    </div>
</div>
<div class="form-row" data-ng-show="model.isAssignTaskAuthorEnabled">
    <div class="form-label">
        <span>Authors Assignable at Task<br />Level *</span>
        <div id="using-template-boe-help" class="help-icon" onclick="CreateWorkspace.ToggleHelp(this);"></div>
        <div id="using-template-boe-help-dialog" class="help-dialog" style="width: 200px;">
            <div class="help-dialog-close"></div>
            <div class="help-dialog-text">When "Yes" is selected, Authors are prompted to choose their name from the BOE Author list and assign themselves to the task as the Task Author. 
					When "No" is selected, Author Assignment is BOE Level only. No additional Author steps.</div>
        </div>
    </div>
    <div class="form-element">
        <select name="EnableAssignTaskAuthor" id="EnableAssignTaskAuthor" data-ng-model="data.EnableAssignTaskAuthor" data-ng-disabled="data.WorkspaceToCopyID > 0">
            <option data-ng-value="true">Yes</option>
            <option data-ng-value="false">No</option>
        </select>
    </div>
</div>
{{setupIdentificationPage()}}
<script type="text/javascript">
    (function () {
        SetupMonthPicker("#ContractStartDate");
        SetupMonthPicker("#ContractEndDate");
    })();
</script>