<div class="form-row">
    <div class="form-element radio">
        <input id="WorkspaceType-Blank" name="WorkspaceType" data-ng-model="data.IsAttemptingToImport" type="radio" data-ng-value="false" />
        <label for="WorkspaceType-Blank">Create a new blank Workspace.</label>
        <br />
        <div data-ng-show="model.isPTMIntegrated && data.IsAttemptingToImport !== undefined && data.IsAttemptingToImport === false">
            <div></div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label for="proposalSelect">
                PTM Tracking Number: *
                <div class="help-icon" style="margin-top:3px; margin-left:0;" onclick="CreateWorkspace.ToggleHelp(this);"></div>
                <!-- This comment is needed for the jquery animation to work in IE8... -->
                <div class="help-dialog" style="width: 130px;">
                    <div class="help-dialog-close"></div>
                    <div class="help-dialog-text">If you are unable to locate a newly created PTM record, please refresh this page.</div>
                </div>
            </label>
            <input id="proposalSelect" 
                   list="proposalList" 
                   type="text" 
                   autocomplete="on" 
                   data-ng-model="model.selectedPtmTrackingNumber" 
                   data-ng-trim="false" 
                   data-ng-change="setProposalId()">
            <datalist id="proposalList">
                <option ng-repeat="proposal in model.trackingNumbers" 
                        propId="{{proposal.Value}}" 
                        value="{{proposal.Text}}">
                </option>
            </datalist>
            <br />
        </div>
     
    <!---NEW PLD Feature -->
    <div data-ng-show="model.IsPLDIntegrated">
        <div></div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label for="pldSelect">
            PLD PA Number: *
            <div class="help-icon" style="margin-top:3px; margin-left:0;" onclick="CreateWorkspace.ToggleHelp(this);"></div>
            <!-- This comment is needed for the jquery animation to work in IE8... -->
            <div class="help-dialog" style="width: 130px;">
                <div class="help-dialog-close"></div>
                <div class="help-dialog-text">If you are unable to locate a newly created PLD record, please refresh this page.</div>
            </div>
        </label>
        <input type="text"
               data-ng-model="model.searchTerm"
               autocomplete="off" 
               list="pldpa-options"
               id="pldProposalSelect"              
               />
        <datalist id="pldpa-options">
            <option data-ng-repeat="item in filteredPLDPANumbers"
                    value="{{item.Text}}">
            </option>
        </datalist>
        
        <br />
    </div>
        <input id="WorkspaceType-Create" name="WorkspaceType" data-ng-model="data.IsAttemptingToImport" type="radio" data-ng-value="true" />
        <label for="WorkspaceType-Create">
            Create a new Workspace from an existing Workspace. Choose to copy Permissions, BOEs
            and Tasks.
        </label>
    </div>
</div>