<div class="form-row bootstrap">
	<h2>Email Results</h2>
	<div class="form-row">
		<div class="row">
			<div class="col-md=11 col-sm-11">
				<input type="radio" ng-model="model.emailOption" data-ng-value="0"> <span style="vertical-align:bottom">No Emails sent</span>
			</div>
		</div>
		<div class="row">
			<div class="col-md=11 col-sm-11">
				<input type="radio" ng-model="model.emailOption" data-ng-value="1"> <span style="vertical-align:bottom">Send email notification of updates and errors to authors and approvers</span>
			</div>
		</div>
		<div class="row">
			<div class="col-md=11 col-sm-11">
				<input type="radio" ng-model="model.emailOption" data-ng-value="2"> <span style="vertical-align:bottom">Send only email notifications where the operation results in errors that need to be manually corrected</span>
			</div>
		</div>
	</div>
</div>