<div class="form-row">
	<div class="form-label">Would you like to: </div>
</div>
<div class="form-row">
	<div class="form-label"></div>
	<div class="form-element">
		<input type="radio" name="dateWizard" data-ng-value="constants.SHIFT_ONLY" data-ng-model="model.dateShiftChosen" /> Shift
		<img class="smallgif" src="/Content/images/dateshift/shift.gif" />
	</div>
</div>
<div class="form-row">
	<div class="form-label"></div>
	<div class="form-element">
		<input type="radio" name="dateWizard" data-ng-value="constants.DURATION_ONLY" data-ng-model="model.dateShiftChosen" /> Change Duration (Modify End Date)
		<img class="smallgif" src="/Content/images/dateshift/duration.gif" />
	</div>
</div>
<div class="form-row">
	<div class="form-label"></div>
	<div class="form-element">
		<input type="radio" name="dateWizard" data-ng-value="constants.SHIFT_AND_DURATION" data-ng-model="model.dateShiftChosen" /> Shift then Change Duration
	</div>
</div>