<div class="dialog form ui-dialog-content ui-widget-content">
    <div class="module-content-data">
            <div class="form-row">
                <textarea rows="10" style="width:576px;max-width:576px;min-width:576px;" maxlength="{{model.maxLength}}" data-ng-model="model.text" autofocus="autofocus"></textarea>
            </div>
        <div class="form-row">
            <button class="ies" type="button" data-ng-click="closeModal()">Save</button>
            <button class="ies" type="button" data-ng-click="$close()">Cancel</button>
        </div>
    </div>
</div>