<?xml version="1.0" encoding="utf-8" ?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="genTracEntities" connectionString="metadata=res://*/PTMEntityModel.csdl|res://*/PTMEntityModel.ssdl|res://*/PTMEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=vfassql24\archsvcstest2012;;initial catalog=genTRAC_UAT;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="EmailsToCurrentlyLoggedInUser" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ServerURL" value="https://uat-ptm.ssc.lmco.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>