<div id="editMappingsModal">
	<div class="ui-widget-header modal-title-bar">
		Edit Mappings for {{model.Co}}
		<div class="modal-close-box" data-ng-click="$close()">
			<i class="glyphicon glyphicon-remove"></i>
		</div>
	</div>
	<div class="modal-content-area">
		<form name="form" id="editMappings">
			<div class="form-row css3pie-position-fix">
				<div gen-validation data-errors="$root.modalErrors"></div>
			</div>
			<div class="module-header-data">PPR&amp;D Section</div>
			<div class="module-content-data">
				<div class="form-row">
					<div class="form-label-wide">Linked Section</div>
					<div class="form-element">
						<select class="select-large" data-ng-disabled="!canEdit()" data-ng-options="item.Id as item.Label for item in rateModel.sections" data-ng-model="model.S"></select>
					</div>
				</div>
			</div>
			<br />
			<div class="module-header-data">ProPricer Direct Rates</div>
			<div class="module-content-data">
				<div class="form-row">
					<div class="form-label-wide">Resource Type:</div>
					<div class="form-element">
						<select data-ng-disabled="!canEdit()" data-ng-change="onResourceTypeChange();" data-ng-options="item.Id as item.Label for item in rateModel.resourceTypes" data-ng-model="model.RT" style="width: 175px"></select>
					</div>
				</div>
				<div class="form-row">
					<div class="form-label-wide">Rate Type:</div>
					<div class="form-element">
						<select data-ng-disabled="!canEdit()" data-ng-options="item.Id as item.Label for item in rateModel.rateTypes" data-ng-model="model.Ra" style="width: 175px"></select>
					</div>
				</div>

				<div class="form-row" style="display:none">
					<div class="form-label-wide">Disclosure Type:</div>
					<div class="form-element">
						<select data-ng-disabled="!canEdit()" data-ng-options="item.Id as item.Label for item in rateModel.disclosureTypes" data-ng-model="model.DT" style="width: 175px"></select>
					</div>
				</div>

				<div class="form-group" data-ng-show="model.RT == '1'">
					<div class="form-row">
						<div class="form-label-wide">Generate Additional Direct Labor Rates</div>
						<div class="form-element">
							<input data-ng-disabled="!canEdit()" type="checkbox" id="AdditionalRates" data-ng-model="model.Gen" />
						</div>
					</div>
				</div>
				<div class="form-group" data-ng-hide="model.Gen">
					<div class="form-row">
						<table class="table table-hover table-bordered table-condensed">
							<thead>
								<tr>
									<th scope="col">Rate Code</th>
									<th scope="col">Description</th>
									<th scope="col">Resource Class</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row">{{model.Co}}</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD" data-ng-change="model.RCId = model.RD === '' ? 0 : model.RCId;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId" style="width: 300px"></select>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div data-ng-show="model.Gen && model.RT == '1' && model.DT != '2'">
					<div class="form-row">
						<table class="table table-hover table-bordered table-condensed">
							<thead>
								<tr>
									<th scope="col">Rate Code w/ext</th>
									<th scope="col">Description</th>
									<th scope="col">Resource Class</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row">{{model.Co}}1</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD1" data-ng-change="model.RCId1 = model.RD1 === '' ? 0 : model.RCId1;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD1 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId1" style="width: 300px"></select>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">{{model.Co}}2</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD2" data-ng-change="model.RCId2 = model.RD2 === '' ? 0 : model.RCId2;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD2 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId2" style="width: 300px"></select>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">{{model.Co}}3</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD3" data-ng-change="model.RCId3 = model.RD3 === '' ? 0 : model.RCId3;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD3 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId3" style="width: 300px"></select>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">{{model.Co}}4</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD4" data-ng-change="model.RCId4 = model.RD4 === '' ? 0 : model.RCId4;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD4 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId4" style="width: 300px"></select>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">{{model.Co}}5</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD5" data-ng-change="model.RCId5 = model.RD5 === '' ? 0 : model.RCId5;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD5 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId5" style="width: 300px"></select>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">{{model.Co}}6</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD6" data-ng-change="model.RCId6 = model.RD6 === '' ? 0 : model.RCId6;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD6 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId6" style="width: 300px"></select>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">{{model.Co}}7</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD7" data-ng-change="model.RCId7 = model.RD7 === '' ? 0 : model.RCId7;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD7 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId7" style="width: 300px"></select>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">{{model.Co}}8</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD8" data-ng-change="model.RCId8 = model.RD8 === '' ? 0 : model.RCId8;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD8 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId8" style="width: 300px"></select>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">{{model.Co}}9</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD9" data-ng-change="model.RCId9 = model.RD9 === '' ? 0 : model.RCId9;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD9 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId9" style="width: 300px"></select>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div data-ng-show="model.Gen && model.RT == '1' && model.DT == '2'">
					<div class="form-row lmx-container">
						<table class="table table-hover table-bordered table-condensed">
							<thead>
								<tr>
									<th scope="col">Rate Code w/ext</th>
									<th scope="col">Description</th>
									<th scope="col">Resource Class</th>
								</tr>
							</thead>
							<tbody>
								<!-- Level 1 -->
								<tr>
									<th scope="row">{{model.Co}}11</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD11" data-ng-change="model.RCId11 = model.RD11 === '' ? 0 : model.RCId11;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD11 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId11" style="width: 300px"></select>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">{{model.Co}}12</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD12" data-ng-change="model.RCId12 = model.RD12 === '' ? 0 : model.RCId12;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD12 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId12" style="width: 300px"></select>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">{{model.Co}}13</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD13" data-ng-change="model.RCId13 = model.RD13 === '' ? 0 : model.RCId13;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD13 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId13" style="width: 300px"></select>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">{{model.Co}}14</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD14" data-ng-change="model.RCId14 = model.RD14 === '' ? 0 : model.RCId14;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD14 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId14" style="width: 300px"></select>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">{{model.Co}}15</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD15" data-ng-change="model.RCId15 = model.RD15 === '' ? 0 : model.RCId15;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD15 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId15" style="width: 300px"></select>
										</div>
									</td>
								</tr>
								<!-- Level 2 -->
								<tr>
									<th scope="row">{{model.Co}}21</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD21" data-ng-change="model.RCId21 = model.RD21 === '' ? 0 : model.RCId21;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD21 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId21" style="width: 300px"></select>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">{{model.Co}}22</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD22" data-ng-change="model.RCId22 = model.RD22 === '' ? 0 : model.RCId22;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD22 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId22" style="width: 300px"></select>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">{{model.Co}}23</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD23" data-ng-change="model.RCId23 = model.RD23 === '' ? 0 : model.RCId23;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD23 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId23" style="width: 300px"></select>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">{{model.Co}}24</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD24" data-ng-change="model.RCId24 = model.RD24 === '' ? 0 : model.RCId24;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD24 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId24" style="width: 300px"></select>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">{{model.Co}}25</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD25" data-ng-change="model.RCId25 = model.RD25 === '' ? 0 : model.RCId25;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD25 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId25" style="width: 300px"></select>
										</div>
									</td>
								</tr>
								<!-- Level 3 -->
								<tr>
									<th scope="row">{{model.Co}}31</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD31" data-ng-change="model.RCId31 = model.RD31 === '' ? 0 : model.RCId31;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD31 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId31" style="width: 300px"></select>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">{{model.Co}}32</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD32" data-ng-change="model.RCId32 = model.RD32 === '' ? 0 : model.RCId32;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD32 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId32" style="width: 300px"></select>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">{{model.Co}}33</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD33" data-ng-change="model.RCId33 = model.RD33 === '' ? 0 : model.RCId33;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD33 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId33" style="width: 300px"></select>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">{{model.Co}}34</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD34" data-ng-change="model.RCId34 = model.RD34 === '' ? 0 : model.RCId34;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD34 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId34" style="width: 300px"></select>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">{{model.Co}}35</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD35" data-ng-change="model.RCId35 = model.RD35 === '' ? 0 : model.RCId35;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD35 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId35" style="width: 300px"></select>
										</div>
									</td>
								</tr>
								<!-- Level 4 -->
								<tr>
									<th scope="row">{{model.Co}}41</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD41" data-ng-change="model.RCId41 = model.RD41 === '' ? 0 : model.RCId41;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD41 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId41" style="width: 300px"></select>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">{{model.Co}}42</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD42" data-ng-change="model.RCId42 = model.RD42 === '' ? 0 : model.RCId42;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD42 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId42" style="width: 300px"></select>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">{{model.Co}}43</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD43" data-ng-change="model.RCId43 = model.RD43 === '' ? 0 : model.RCId43;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD43 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId43" style="width: 300px"></select>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">{{model.Co}}44</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD44" data-ng-change="model.RCId44 = model.RD44 === '' ? 0 : model.RCId44;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD44 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId44" style="width: 300px"></select>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">{{model.Co}}45</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD45" data-ng-change="model.RCId45 = model.RD45 === '' ? 0 : model.RCId45;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD45 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId45" style="width: 300px"></select>
										</div>
									</td>
								</tr>
								<!-- Level 5 -->
								<tr>
									<th scope="row">{{model.Co}}51</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD51" data-ng-change="model.RCId51 = model.RD51 === '' ? 0 : model.RCId51;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD51 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId51" style="width: 300px"></select>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">{{model.Co}}52</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD52" data-ng-change="model.RCId52 = model.RD52 === '' ? 0 : model.RCId52;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD52 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId52" style="width: 300px"></select>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">{{model.Co}}53</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD53" data-ng-change="model.RCId53 = model.RD53 === '' ? 0 : model.RCId53;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD53 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId53" style="width: 300px"></select>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">{{model.Co}}54</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD54" data-ng-change="model.RCId54 = model.RD54 === '' ? 0 : model.RCId54;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD54 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId54" style="width: 300px"></select>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">{{model.Co}}55</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD55" data-ng-change="model.RCId55 = model.RD55 === '' ? 0 : model.RCId55;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD55 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId55" style="width: 300px"></select>
										</div>
									</td>
								</tr>
								<!-- Level 6 -->
								<tr>
									<th scope="row">{{model.Co}}61</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD61" data-ng-change="model.RCId61 = model.RD61 === '' ? 0 : model.RCId61;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD61 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId61" style="width: 300px"></select>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">{{model.Co}}62</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD62" data-ng-change="model.RCId62 = model.RD62 === '' ? 0 : model.RCId62;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD62 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId62" style="width: 300px"></select>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">{{model.Co}}63</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD63" data-ng-change="model.RCId63 = model.RD63 === '' ? 0 : model.RCId63;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD63 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId63" style="width: 300px"></select>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">{{model.Co}}64</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD64" data-ng-change="model.RCId64 = model.RD64 === '' ? 0 : model.RCId64;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD64 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId64" style="width: 300px"></select>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">{{model.Co}}65</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD65" data-ng-change="model.RCId65 = model.RD65 === '' ? 0 : model.RCId65;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD65 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId65" style="width: 300px"></select>
										</div>
									</td>
								</tr>
								<!-- Level 7 -->
								<tr>
									<th scope="row">{{model.Co}}71</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD71" data-ng-change="model.RCId71 = model.RD71 === '' ? 0 : model.RCId71;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD71 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId71" style="width: 300px"></select>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">{{model.Co}}72</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD72" data-ng-change="model.RCId72 = model.RD72 === '' ? 0 : model.RCId72;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD72 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId72" style="width: 300px"></select>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">{{model.Co}}73</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD73" data-ng-change="model.RCId73 = model.RD73 === '' ? 0 : model.RCId73;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD73 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId73" style="width: 300px"></select>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">{{model.Co}}74</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD74" data-ng-change="model.RCId74 = model.RD74 === '' ? 0 : model.RCId74;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD74 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId74" style="width: 300px"></select>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">{{model.Co}}75</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD75" data-ng-change="model.RCId75 = model.RD75 === '' ? 0 : model.RCId75;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD75 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId75" style="width: 300px"></select>
										</div>
									</td>
								</tr>
								<!-- Level 8 -->
								<tr>
									<th scope="row">{{model.Co}}81</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD81" data-ng-change="model.RCId81 = model.RD81 === '' ? 0 : model.RCId81;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD81 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId81" style="width: 300px"></select>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">{{model.Co}}82</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD82" data-ng-change="model.RCId82 = model.RD82 === '' ? 0 : model.RCId82;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD82 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId82" style="width: 300px"></select>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">{{model.Co}}83</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD83" data-ng-change="model.RCId83 = model.RD83 === '' ? 0 : model.RCId83;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD83 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId83" style="width: 300px"></select>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">{{model.Co}}84</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD84" data-ng-change="model.RCId84 = model.RD84 === '' ? 0 : model.RCId84;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD84 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId84" style="width: 300px"></select>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">{{model.Co}}85</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD85" data-ng-change="model.RCId85 = model.RD85 === '' ? 0 : model.RCId85;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD85 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId85" style="width: 300px"></select>
										</div>
									</td>
								</tr>
								<!-- Level 9 -->
								<tr>
									<th scope="row">{{model.Co}}91</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD91" data-ng-change="model.RCId91 = model.RD91 === '' ? 0 : model.RCId91;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD91 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId91" style="width: 300px"></select>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">{{model.Co}}92</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD92" data-ng-change="model.RCId92 = model.RD92 === '' ? 0 : model.RCId92;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD92 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId92" style="width: 300px"></select>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">{{model.Co}}93</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD93" data-ng-change="model.RCId93 = model.RD93 === '' ? 0 : model.RCId93;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD93 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId93" style="width: 300px"></select>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">{{model.Co}}94</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD94" data-ng-change="model.RCId94 = model.RD94 === '' ? 0 : model.RCId94;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD94 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId94" style="width: 300px"></select>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">{{model.Co}}95</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD95" data-ng-change="model.RCId95 = model.RD95 === '' ? 0 : model.RCId95;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD95 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId95" style="width: 300px"></select>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="form-row">
					<div class="form-label-wide">Government Burden Pool:</div>
					<div class="form-element">
						<select data-ng-disabled="!canEdit()" class="select-large" data-ng-options="item.Id as item.Label for item in rateModel.governmentBurdenPools" data-ng-model="model.GBPId"></select>
					</div>
				</div>
				<div class="form-row">
					<div class="form-label-wide">Commercial Burden Pool:</div>
					<div class="form-element">
						<select data-ng-disabled="!canEdit()" class="select-large" data-ng-options="item.Id as item.Label for item in rateModel.commercialBurdenPools" data-ng-model="model.CBPId"></select>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button class="ies-action"
				data-ng-disabled="!canEdit() || form.$invalid || $root.modalErrors.length > 0"
				data-ng-click="editMappings(model);"
				type="button" id="editMappings">
			OK
		</button>
		<button class="ies" type="button" data-ng-click="$close()">Cancel</button>
		<br /><br />
	</div>
</div>
