<div id="editMappingsModal">
    <div class="ui-widget-header modal-title-bar">Edit Mappings for {{model.Co}}
        <div class="modal-close-box" data-ng-click="$close()"><i class="glyphicon glyphicon-remove"></i>
        </div>
    </div>
    <div class="modal-content-area">
        <form name="form" id="editMappings">
            <div class="form-row css3pie-position-fix">
                <div gen-validation data-errors="$root.modalErrors"></div>
            </div>
            <div class="module-header-data">PPR&amp;D Section</div>
            <div class="module-content-data">
                <div class="form-row">
                    <div class="form-label-wide">Linked Section</div>
                    <div class="form-element">
                        <select class="select-large" data-ng-disabled="!canEdit()" data-ng-options="item.Id as item.Label for item in rateModel.sections" data-ng-model="model.S"></select>
                    </div>
                </div>
            </div>
            <br/>
            <div class="module-header-data">ProPricer Direct Rates</div>
            <div class="module-content-data">
                <div class="form-row">
                    <div class="form-label-wide">Resource Type:</div>
                    <div class="form-element">
                        <select data-ng-disabled="!canEdit()" data-ng-change="onResourceTypeChange();" data-ng-options="item.Id as item.Label for item in rateModel.resourceTypes" data-ng-model="model.RT" style="width: 175px"></select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-label-wide">Rate Type:</div>
                    <div class="form-element">
                        <select data-ng-disabled="!canEdit()" data-ng-options="item.Id as item.Label for item in rateModel.rateTypes" data-ng-model="model.Ra" style="width: 175px"></select>
                    </div>
                </div>

				<div class="form-row">
					<div class="form-label-wide">Disclosure Type:</div>
					<div class="form-element">
						<select data-ng-disabled="!canEdit()" data-ng-options="item.Id as item.Label for item in rateModel.disclosureTypes" data-ng-model="model.DT" style="width: 175px"></select>
					</div>
				</div>

                <div class="form-group" data-ng-show="model.RT == '1'">
                    <div class="form-row">
                        <div class="form-label-wide">Generate Additional Direct Labor Rates</div>
                        <div class="form-element">
                            <input data-ng-disabled="!canEdit()" type="checkbox" id="AdditionalRates" data-ng-model="model.Gen"/>
                        </div>
                    </div>
                </div>
                <div class="form-group" data-ng-hide="model.Gen">
                    <div class="form-row">
                        <table class="table table-hover table-bordered table-condensed">
                            <thead>
                                <tr>
                                    <th scope="col">Rate Code</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Resource Class</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">{{model.Co}}</th>
                                    <td>
                                        <div class="form-element">
                                            <input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD" data-ng-change="model.RCId = model.RD === '' ? 0 : model.RCId;"/>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-element">
                                            <select data-ng-disabled="!canEdit() || model.RD === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId" style="width: 300px"></select>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div data-ng-show="model.Gen && model.RT == '1' && model.DT != '2'">
                    <div class="form-row">
                        <table class="table table-hover table-bordered table-condensed">
                            <thead>
                                <tr>
                                    <th scope="col">Rate Code w/ext</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Resource Class</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">{{model.Co}}1</th>
                                    <td>
                                        <div class="form-element">
                                            <input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD1" data-ng-change="model.RCId1 = model.RD1 === '' ? 0 : model.RCId1;"/>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-element">
                                            <select data-ng-disabled="!canEdit() || model.RD1 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId1" style="width: 300px"></select>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">{{model.Co}}2</th>
                                    <td>
                                        <div class="form-element">
                                            <input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD2" data-ng-change="model.RCId2 = model.RD2 === '' ? 0 : model.RCId2;"/>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-element">
                                            <select data-ng-disabled="!canEdit() || model.RD2 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId2" style="width: 300px"></select>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">{{model.Co}}3</th>
                                    <td>
                                        <div class="form-element">
                                            <input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD3" data-ng-change="model.RCId3 = model.RD3 === '' ? 0 : model.RCId3;"/>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-element">
                                            <select data-ng-disabled="!canEdit() || model.RD3 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId3" style="width: 300px"></select>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">{{model.Co}}4</th>
                                    <td>
                                        <div class="form-element">
                                            <input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD4" data-ng-change="model.RCId4 = model.RD4 === '' ? 0 : model.RCId4;"/>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-element">
                                            <select data-ng-disabled="!canEdit() || model.RD4 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId4" style="width: 300px"></select>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">{{model.Co}}5</th>
                                    <td>
                                        <div class="form-element">
                                            <input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD5" data-ng-change="model.RCId5 = model.RD5 === '' ? 0 : model.RCId5;"/>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-element">
                                            <select data-ng-disabled="!canEdit() || model.RD5 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId5" style="width: 300px"></select>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">{{model.Co}}6</th>
                                    <td>
                                        <div class="form-element">
                                            <input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD6" data-ng-change="model.RCId6 = model.RD6 === '' ? 0 : model.RCId6;"/>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-element">
                                            <select data-ng-disabled="!canEdit() || model.RD6 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId6" style="width: 300px"></select>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">{{model.Co}}7</th>
                                    <td>
                                        <div class="form-element">
                                            <input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD7" data-ng-change="model.RCId7 = model.RD7 === '' ? 0 : model.RCId7;" />
                                         </div>
                                    </td>
                                    <td>
                                        <div class="form-element">
                                            <select data-ng-disabled="!canEdit() || model.RD7 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId7" style="width: 300px"></select>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table> 
                    </div>
                </div>
				<div data-ng-show="model.Gen && model.RT == '1' && model.DT == '2'">
					<div class="form-row lmx-container">
						<table class="table table-hover table-bordered table-condensed">
							<thead>
								<tr>
									<th scope="col">Rate Code w/ext</th>
									<th scope="col">Description</th>
									<th scope="col">Resource Class</th>
								</tr>
							</thead>
							<tbody>
								<!-- Level 1 -->
								<tr>
									<th scope="row">{{model.Co}}11</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD11" data-ng-change="model.RCId11 = model.RD11 === '' ? 0 : model.RCId11;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD11 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId11" style="width: 300px"></select>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">{{model.Co}}12</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD12" data-ng-change="model.RCId12 = model.RD12 === '' ? 0 : model.RCId12;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD12 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId12" style="width: 300px"></select>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">{{model.Co}}13</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD13" data-ng-change="model.RCId13 = model.RD13 === '' ? 0 : model.RCId13;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD13 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId13" style="width: 300px"></select>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">{{model.Co}}14</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD14" data-ng-change="model.RCId14 = model.RD14 === '' ? 0 : model.RCId14;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD14 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId14" style="width: 300px"></select>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">{{model.Co}}15</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD15" data-ng-change="model.RCId15 = model.RD15 === '' ? 0 : model.RCId15;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD15 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId15" style="width: 300px"></select>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">{{model.Co}}16</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD16" data-ng-change="model.RCId16 = model.RD16 === '' ? 0 : model.RCId16;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD16 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId16" style="width: 300px"></select>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">{{model.Co}}17</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD17" data-ng-change="model.RCId17 = model.RD17 === '' ? 0 : model.RCId17;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD17 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId17" style="width: 300px"></select>
										</div>
									</td>
								</tr>
								<!-- Level 2 -->
								<tr>
									<th scope="row">{{model.Co}}21</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD21" data-ng-change="model.RCId21 = model.RD21 === '' ? 0 : model.RCId21;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD21 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId21" style="width: 300px"></select>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">{{model.Co}}22</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD22" data-ng-change="model.RCId22 = model.RD22 === '' ? 0 : model.RCId22;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD22 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId22" style="width: 300px"></select>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">{{model.Co}}23</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD23" data-ng-change="model.RCId23 = model.RD23 === '' ? 0 : model.RCId23;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD23 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId23" style="width: 300px"></select>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">{{model.Co}}24</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD24" data-ng-change="model.RCId24 = model.RD24 === '' ? 0 : model.RCId24;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD24 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId24" style="width: 300px"></select>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">{{model.Co}}25</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD25" data-ng-change="model.RCId25 = model.RD25 === '' ? 0 : model.RCId25;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD25 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId25" style="width: 300px"></select>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">{{model.Co}}26</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD26" data-ng-change="model.RCId26 = model.RD26 === '' ? 0 : model.RCId26;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD26 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId26" style="width: 300px"></select>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">{{model.Co}}17</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD27" data-ng-change="model.RCId27 = model.RD27 === '' ? 0 : model.RCId27;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD27 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId27" style="width: 300px"></select>
										</div>
									</td>
								</tr>
								<!-- Level 3 -->
								<tr>
									<th scope="row">{{model.Co}}31</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD31" data-ng-change="model.RCId31 = model.RD31 === '' ? 0 : model.RCId31;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD31 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId31" style="width: 300px"></select>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">{{model.Co}}32</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD32" data-ng-change="model.RCId32 = model.RD32 === '' ? 0 : model.RCId32;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD32 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId32" style="width: 300px"></select>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">{{model.Co}}33</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD33" data-ng-change="model.RCId33 = model.RD33 === '' ? 0 : model.RCId33;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD33 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId33" style="width: 300px"></select>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">{{model.Co}}34</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD34" data-ng-change="model.RCId34 = model.RD34 === '' ? 0 : model.RCId34;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD34 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId34" style="width: 300px"></select>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">{{model.Co}}35</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD35" data-ng-change="model.RCId35 = model.RD35 === '' ? 0 : model.RCId35;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD35 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId35" style="width: 300px"></select>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">{{model.Co}}36</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD36" data-ng-change="model.RCId36 = model.RD36 === '' ? 0 : model.RCId36;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD36 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId36" style="width: 300px"></select>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">{{model.Co}}37</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD37" data-ng-change="model.RCId37 = model.RD37 === '' ? 0 : model.RCId37;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD37 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId37" style="width: 300px"></select>
										</div>
									</td>
								</tr>
								<!-- Level 4 -->
								<tr>
									<th scope="row">{{model.Co}}41</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD41" data-ng-change="model.RCId41 = model.RD41 === '' ? 0 : model.RCId41;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD41 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId41" style="width: 300px"></select>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">{{model.Co}}42</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD42" data-ng-change="model.RCId42 = model.RD42 === '' ? 0 : model.RCId42;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD42 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId42" style="width: 300px"></select>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">{{model.Co}}43</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD43" data-ng-change="model.RCId43 = model.RD43 === '' ? 0 : model.RCId43;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD43 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId43" style="width: 300px"></select>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">{{model.Co}}44</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD44" data-ng-change="model.RCId44 = model.RD44 === '' ? 0 : model.RCId44;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD44 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId14" style="width: 300px"></select>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">{{model.Co}}45</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD45" data-ng-change="model.RCId45 = model.RD45 === '' ? 0 : model.RCId45;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD45 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId45" style="width: 300px"></select>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">{{model.Co}}46</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD46" data-ng-change="model.RCId46 = model.RD46 === '' ? 0 : model.RCId46;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD46 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId46" style="width: 300px"></select>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">{{model.Co}}47</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD47" data-ng-change="model.RCId47 = model.RD47 === '' ? 0 : model.RCId47;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD47 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId47" style="width: 300px"></select>
										</div>
									</td>
								</tr>
								<!-- Level 5 -->
								<tr>
									<th scope="row">{{model.Co}}51</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD51" data-ng-change="model.RCId51 = model.RD51 === '' ? 0 : model.RCId51;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD51 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId51" style="width: 300px"></select>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">{{model.Co}}52</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD52" data-ng-change="model.RCId52 = model.RD52 === '' ? 0 : model.RCId52;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD52 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId52" style="width: 300px"></select>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">{{model.Co}}53</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD53" data-ng-change="model.RCId13 = model.RD53 === '' ? 0 : model.RCId53;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD53 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId53" style="width: 300px"></select>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">{{model.Co}}54</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD54" data-ng-change="model.RCId54 = model.RD54 === '' ? 0 : model.RCId54;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD54 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId54" style="width: 300px"></select>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">{{model.Co}}55</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD55" data-ng-change="model.RCId55 = model.RD55 === '' ? 0 : model.RCId55;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD55 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId55" style="width: 300px"></select>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">{{model.Co}}56</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD56" data-ng-change="model.RCId56 = model.RD56 === '' ? 0 : model.RCId56;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD56 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId56" style="width: 300px"></select>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">{{model.Co}}57</th>
									<td>
										<div class="form-element">
											<input data-ng-disabled="!canEdit()" class="form-input-wide" maxlength="254" type="text" data-ng-model="model.RD57" data-ng-change="model.RCId57 = model.RD57 === '' ? 0 : model.RCId57;" />
										</div>
									</td>
									<td>
										<div class="form-element">
											<select data-ng-disabled="!canEdit() || model.RD57 === ''" data-ng-options="item.Id as item.Label for item in rateModel.resourceClasses" data-ng-model="model.RCId57" style="width: 300px"></select>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
                <div class="form-row">
                    <div class="form-label-wide">Government Burden Pool:</div>
                    <div class="form-element">
                        <select data-ng-disabled="!canEdit()" class="select-large" data-ng-options="item.Id as item.Label for item in rateModel.governmentBurdenPools" data-ng-model="model.GBPId"></select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-label-wide">Commercial Burden Pool:</div>
                    <div class="form-element">
                        <select data-ng-disabled="!canEdit()" class="select-large" data-ng-options="item.Id as item.Label for item in rateModel.commercialBurdenPools" data-ng-model="model.CBPId"></select>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="ies-action"
                data-ng-disabled="!canEdit() || form.$invalid || $root.modalErrors.length > 0"
                data-ng-click="editMappings(model);"
                type="button" id="editMappings">OK</button>
        <button class="ies" type="button" data-ng-click="$close()">Cancel</button>
        <br/><br/>
    </div>
</div>
