<?xml version="1.0"?>
<!--For more information on how to configure your ASP.NET application, please visit
http://go.microsoft.com/fwlink/?LinkId=301879
-->
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.1, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah"/>
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah"/>
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah"/>
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah"/>
    </sectionGroup>
    <section name="ProPricerInstanceConfig" type="APTSPropricerApi.Connection.ProPricerInstancesSection, APTSPropricerApi"/>
  </configSections>
  <ProPricerInstanceConfig>
    <instances>
	  <add id="1" instanceId="1" isProduction="false" company="Space" friendlyName="SSC Train" connectionName="SPACE_TRAIN" server="werries.us.lmco.com" port="8092" numberConnections="2" isBackup="false"/>
	  <add id="2" instanceId="2" isProduction="false" company="RMS" friendlyName="This is the primary RMS" connectionName="RMS_TEST" server="BARBOT.us.lmco.com" port="8092" numberConnections="2" isBackup="false"/>
	  <add id="3" instanceId="3" isProduction="false" company="Space" friendlyName="This is the backup SSC" connectionName="SPACE_TEST" server="BARBOT.us.lmco.com" port="8092" numberConnections="2" isBackup="true"/>
	  <add id="4" instanceId="4" isProduction="false" company="RMS" friendlyName="This is the backup RMS" connectionName="RMS_TEST" server="BARBOT.us.lmco.com" port="8092" numberConnections="2" isBackup="true"/>
	  <add id="5" instanceId="1" isProduction="true" company="Space" friendlyName="This is the primary SSC" connectionName="SPACE_TEST" server="werries.us.lmco.com" port="8092" numberConnections="2" isBackup="false"/>
	  <add id="6" instanceId="2" isProduction="true" company="RMS" friendlyName="This is the primary RMS" connectionName="RMS_TEST" server="BARBOT.us.lmco.com" port="8092" numberConnections="2" isBackup="false"/>
	  <add id="7" instanceId="1" isProduction="true" company="Space" friendlyName="This is the backup SSC" connectionName="SPACE_TEST" server="werries.us.lmco.com" port="8092" numberConnections="2" isBackup="true"/>
	  <add id="8" instanceId="2" isProduction="true" company="RMS" friendlyName="This is the backup RMS" connectionName="RMS_TEST" server="BARBOT.us.lmco.com" port="8092" numberConnections="2" isBackup="true"/>
    </instances>
  </ProPricerInstanceConfig>
  <appSettings>
    <add key="APPLICATION_VERSION" value="IES.2021.17"/>
    <add key="LogType" value="INFO"/>
    <add key="CompanyConfiguration" value="Space"/>
    <add key="IsProduction" value="false"/>
    <add key="UseProPricerBackup" value="false"/>
    <add key="ProPricerRegistrationKey" value="DEN12-010J62-FC1E0W-400E1-TOITAF"/>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="oAuthDomain" value="https://authuat.p.external.lmco.com/"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime maxRequestLength="1048576"/>
    <httpHandlers>
      <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah"/>
    </httpHandlers>
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah"/>
    </httpModules>
    <customErrors mode="On" redirectMode="ResponseRewrite" defaultRedirect="/Error.aspx"/>
    <authorization>
      <allow verbs="OPTIONS" users="*"/>
      <allow roles="EBS.EstimationInitiative.DevTeam,EBS.EstimationInitiative.ApprovedDevAndTestUsers"/>
      <deny users="*"/>
    </authorization>
    <authentication mode="Windows"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <location path="elmah.axd">
    <system.web>
      <authorization>
        <allow roles="us\EBS.EstimationInitiative.DevTeam"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <!-- This section gives the unauthenticated user access to all of the methods in the Pro Pricer Data API Controller. -->
  <location path="Api/BatchReports">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Api/ProPricerData">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Api/AvailableConnection">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Api/HealthCheck">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <elmah>
    <security allowRemoteAccess="true"/>
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionString="data source=Lyness\SSAPPVFQAS;Initial Catalog=IES;integrated security=True;multipleactiveresultsets=True;" applicationName="ProPricer_QAS"/>
  </elmah>
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="Performance">
    <listeners>
      <add name="Rolling Flat File Performance Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="logs/propricer.performance.csv" footer="" formatter="Performance Formatter" header="" rollFileExistsBehavior="Increment" rollSizeKB="20000" filter="Information" maxArchivedFiles="20"/>
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="{timestamp(local)},{message}" name="Performance Formatter"/>
    </formatters>
    <categorySources>
      <add switchValue="All" name="Performance">
        <listeners>
          <add name="Rolling Flat File Performance Listener"/>
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events"/>
      <notProcessed switchValue="All" name="Unprocessed Category"/>
      <errors switchValue="Off" name="Logging Errors &amp; Warnings"/>
    </specialSources>
  </loggingConfiguration>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <security>
      <requestFiltering>
        <!-- http://stackoverflow.com/a/3853785/231025 Added 3/31/17 due to max exceeded on https://apts.lmaeronautics.com/apts/proposal/151304/boes/index when sending to PP-->
        <requestLimits maxAllowedContentLength="1073741824"/>
      </requestFiltering>
    </security>
    <modules>
      <!--Required to enable PUT and DELETE rest calls. See - http://stackoverflow.com/a/14465655/231025 -->
      <remove name="WebDAVModule"/>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler"/>
    </modules>
    <handlers>
      <!--Required to enable PUT and DELETE rest calls. See - http://stackoverflow.com/a/14465655/231025 -->
      <remove name="WebDAV"/>
      <add name="Elmah" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <rewrite>
      <rules>
        <rule name="Redirect to HTTPs" stopProcessing="true" enabled="false">
          <match url="(.*)"/>
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$"/>
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="DB937BC2D44FF139" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.85.0" newVersion="1.0.85.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="6d32ff45e0ccc69f" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Container" publicKeyToken="489b6accfaf20ef0" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.11.8.0" newVersion="5.11.8.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="489b6accfaf20ef0" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.11.6.0" newVersion="5.11.6.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.9.0" newVersion="5.2.9.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>