<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		<section name="systemConfiguration" type="IES.Common.SystemConfigurationSection, IES.Common, Version=1.0.0.0"/>
		<sectionGroup name="elmah">
			<section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah"/>
			<section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah"/>
			<section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah"/>
			<section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah"/>
		</sectionGroup>
		<section name="glimpse" type="Glimpse.Core.Configuration.Section, Glimpse.Core"/>
	</configSections>
	<connectionStrings>
		<add name="genTracEntities" connectionString="metadata=res://*/PTMEntityModel.csdl|res://*/PTMEntityModel.ssdl|res://*/PTMEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Cudan\SSAPPVFDEV;initial catalog=genTRAC_Dev;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
		<add name="GenBoeEntities" connectionString="metadata=res://*/BOEEntityModel.csdl|res://*/BOEEntityModel.ssdl|res://*/BOEEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Cudan\SSAPPVFDEV;Initial Catalog=GenBOESpace_Dev;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
		<add name="BI_Datamart_PMMEntities" connectionString="metadata=res://*/MSTMetricsModel.csdl|res://*/MSTMetricsModel.ssdl|res://*/MSTMetricsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MstwDmsbisql\MSBI;initial catalog=BI_Datamart_PMM;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
	</connectionStrings>
	<appSettings>
		<!-- General Settings -->
		<add key="IsReadOnly" value="false"/>
		<add key="EmailServer" value="smtp-lmiden.ems.lmco.com"/>
		<add key="ActiveDirectoryPath" value="GC://usadc-gtm.us.lmco.com"/>
		<add key="HelpdeskEmailAddress" value="generation-support.fc-ssc@lmco.com"/>
		<add key="ServerURL" value="https://dev-genboerms-backend.us.lmco.com"/>
		<add key="ProdUrlBoe" value="genboerms.us.lmco.com"/>
		<add key="DomesticUsersGroup" value="US\lmco.all.emp"/>
		<add key="SubsTreatedAsLmEmployees" value="acct04\ipe.genBOE.spacesystems.subcontractor.admins"/>
		<add key="CompanyConfiguration" value="Space"/>
		<add key="ServiceCentralLinkMST" value="https://servicecentral.external.lmco.com/service_central_portal?id=sc_cat_item&amp;sys_id=02dc9e17dbfc88d028b43efd7c96192b&amp;qeid=2aecd12b1b49c550d43d0faae54bcb3b"/>
		<add key="ServiceCentralLinkSpaceSystems" value="genboe.sysadmin.help.notification.dl-spc@exch.ems.lmco.com"/>
		<add key="LMIProxy" value="http://proxy-zsgov.external.lmco.com"/>
		<add key="ShutOffExternalLinksForClassifiedInstall" value="false"/>
		<add key="UsersAllowedProPricerAccess" value="US\EBS.EstimationInitiative.DevTeam,US\EBS.EstimationInitiative.ApprovedDevAndTestUsers"/>
		<add key="SystemAdminADGroup" value="US\EBS.IES.UAT.NLF.SysAdmin"/>
		<add key="SubcontractAdminADGroup" value="US\EBS.IES.UAT.NLF.SCA"/>
		<add key="EnableSendToProPricerDirectly" value="true"/>
		<add key="ProPricerApiUrl" value="https://uat-propricerapirms.us.lmco.com/api/"/>
		<add key="UnclassifiedBannerText" value="Unclassified Environment"/>
		<add key="OverrideSubNonUs" value="false"/>
		<add key="MOQHelpBaseUrl" value="http://fbo-kbm.us.lmco.com/index.php?/article/"/>
		<add key="OneLmxStartDate" value="01/01/2028"/>
		<add key="HistoricalReferenceExplanationStartDate" value="02/01/2024"/>
		<add key="DatepickerRestrictionRMS" value="12/01/2013"/>
		<add key="ActiveApp" value="BOESSC"/>
		<add key="NlfApiKey" value="e8d8f5b1-8a4c-4f9b-9c2d-2b2a4f4e9c0d"/>
		<add key="ShowINLCutoffDate" value="12/07/2024"/>
		<add key="UcotKey" value="UCOT"/>
		<!--<add key="IESBannerApp" value="BOESSC_INTL"/>-->
		<add key="IESBannerApp" value="BOESSC"/>
		<!--<add key="IESBannerApp" value="BOERMS"/>-->
		<add key="EnableBRC" value="true"/>
		<add key="OverrideBRC" value="__OverrideBRC__"/>
		<add key="EnableConfidenceReport" value="false"/>
		<add key="RemoveEmptySpans" value="false"/>
		<add key="EnableUCOT" value="true"/>
		<add key="UCOTStartDate" value="05/23/2020"/>
		<!-- Skill Mix -->
		<add key="EnableSkillMix" value="true"/>
		<add key="SkillMixStartDate" value="05/23/2020"/>
		<add key="RMSCurrentSkillMixTableHelpUrl" value="http://fbo-kbm.us.lmco.com/index.php?/article/AA-04732/598/"/>
		<add key="RMSLMEnterpriseSkillMixTableHelpUrl" value="http://fbo-kbm.us.lmco.com/index.php?/article/AA-04733/598/"/>
		<add key="SpaceLegacySkillMixTableHelpUrl" value=""/>
		<add key="SpaceLMEnterpriseSkillMixTableHelpUrl" value=""/>
		<!-- Task Assign Author -->
		<add key="EnableAssignTaskAuthor" value="true"/>
		<!-- SAP Settings -->
		<add key="oAuthDomain" value="https://authuat.p.external.lmco.com/"/>
		<add key="EnableSAP" value="true"/>
		<add key="IESSAPUrl" value="https://dev-ies-sap.ssc.lmco.com"/>
		<!--<add key="IESSAPUrl" value="http://localhost:5501"/>-->
		<add key="SAPSpaceStartDate" value="03/22/2023"/>
		<add key="oAuthIESClientId" value="eo-ssc-ies"/>
		<add key="oAuthIESClientSecret" value="4yUByyvJIO9oubWtq1LQiPp7jgX9zMkkyYzrHkIu"/>
		<add key="oAuthValidAudiences" value="eo-ssc-ies,eo-ssc-acv,eo-ssc-nlf"/>
		<!-- SSC Settings -->
		<add key="ShowEquivalentPersonsOption" value="false"/>
		<add key="IsBOEFormVisible" value="false"/>
		<add key="IsPortionMarkingEnabled" value="true"/>
		<add key="IESHomeUrl" value="https://dev-ies.ssc.lmco.com/assets/dev-header.html"/>
		<add key="IESBannerUrl" value="https://dev-ies.ssc.lmco.com/maintenancebanner/"/>
		<add key="IsPTMIntegrated" value="true"/>
		<add key="ShowIesHeader" value="false"/>
		<!-- Hours offset to convert from the DB's timezone to EST - Database currently in CO using MST, 2 hours behind EST -->
		<add key="DatabaseESTOffset" value="2"/>
		<add key="CanCreateWorkspaceWithoutPtmTrackingNumber" value=""/>
		<!-- Piwik Settings -->
		<add key="DisablePiwik" value="true"/>
		<add key="PiwikURL" value="https://techopstoolbox.global.lmco.com/piwik/"/>
		<add key="PiwikId" value="0"/>
		<!-- MST Measure / Metrics (RMS main version only) -->
		<add key="MstMetricsUrl" value="http://msbitest.us.lmco.com/sites/PMM/default.aspx"/>
		<add key="MSTSearchCriteriaHelp" value="http://msbiprod.us.lmco.com/sites/PMM/HelpInputs/Input-genBoeSearchHistoricalMeasures.pptx"/>
		<add key="MSTSearchResultsHelpLink" value="http://msbiprod.us.lmco.com/sites/PMM/HelpInputs/Input-genBoeSearchResults.pptx"/>
		<add key="MSTSearchResultsDetailHelpLink" value="http://msbiprod.us.lmco.com/sites/PMM/HelpInputs/Input-genBoeSearchResultsDetail.pptx"/>
		<!-- Additional RMS Settings -->
		<add key="ArchiveUrlBoe" value="https://archive-genboerms.us.lmco.com"/>
		<add key="RmsHelpBaseLink" value="https://lmsp4-lmi.external.lmco.com/sites/estimating/Shared%20Documents/"/>
		<add key="RmsHelpBaseLinkNew" value="https://lmsp4-lmi.external.lmco.com/sites/rmsecwrepository/"/>
		<add key="AllThingsBoeLink" value="https://rmsestimationcompliance.us.lmco.com/all-things-boe/"/>
		<!-- Project Map Settings (RMS only)-->
		<add key="IsProjectMapEnabled" value="true"/>
		<add key="ReportServerLocation" value="https://sscreports-qas.ssc.lmco.com/ReportServer_SSRS30A?"/>
		<add key="ReportServerFolderName" value="generation/genBOEMST"/>
		<add key="MaximumRowsInProjectMap" value="15000"/>
		<add key="ProjectMapPageSize" value="50"/>
		<!-- Dev level settings -->
		<add key="APPLICATION_VERSION" value="WIP - Local"/>
		<add key="LogType" value="INFO"/>
		<add key="SearchResultsThreshold" value="100"/>
		<add key="DisableAllEmails" value="False"/>
		<add key="EmailsToCurrentlyLoggedInUser" value="True"/>
		<add key="TransactionTimeout" value="360"/>
		<add key="CopyWorkspaceTransactionTimeout" value="600"/>
		<add key="MIECostUpdateActivationDate" value="10/15/2012"/>
		<add key="MIECostUpdateTripDate" value="11/01/2012"/>
		<add key="MoqTemplateStartDate" value="10/25/2020"/>
		<add key="ExportLoggingEnableInternalMV" value="false"/>
		<add key="ExportLoggingEnableInternalExport" value="false"/>
		<add key="ShowUserName" value="true"/>
		<add key="MaxDegreeOfParallelism" value="5"/>
		<add key="MaxDbQueries" value="-1"/>
		<add key="IsIdentitySwappingAllowed" value="false"/>
		<add key="ADGroupsAllowedToSwapIdentity" value="US\EBS.EstimationInitiative.DevTeam,US\EBS.EstimationInitiative.ApprovedDevAndTestUsers"/>
		<add key="ShowCompanyConfiguration" value="true"/>
		<add key="BannerTextWithoutOCI" value="Must not contain any classified, export controlled or third party proprietary information."/>
		<add key="BannerTextWithOCI" value="Must not contain any OCI, classified, export controlled or third party proprietary information."/>
		<!-- Turn env var and app setting logging on and off-->
		<add key="EnableEnvionmentInfoLogging" value="false"/>
		<!-- Reports External Url -->
		<!--<add key="ReportsBackendServiceUrl" value="https://dev-genboe-reports.ssc.lmco.com/"/>-->
		<add key="ReportsBackendServiceUrl" value="http://localhost:5166/"/>
		<add key="IsReportGenerationExternal" value="false"/>
	</appSettings>
	<!--
	For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

	The following attributes can be set on the <httpRuntime> tag.
	  <system.Web>
		<httpRuntime targetFramework="4.8.1"/>
	  </system.Web>
  -->
	<system.web>
		<authorization>
			<allow roles="us\EBS.EstimationInitiative.DevTeam,us\EBS.EstimationInitiative.ApprovedDevAndTestUsers,acct04\ipe.genBOE.approvedsubcontractors,us\EBS.EstimationInitiative.AacctDevTeam,us\ectl0401,us\ectl0222"/>
			<deny users="*"/>
		</authorization>
		<httpCookies httpOnlyCookies="true" requireSSL="false"/>
		<compilation debug="true" targetFramework="4.8">
			<assemblies>
				<add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.Helpers, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.WebPages, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			</assemblies>
		</compilation>
		<authentication mode="Windows"/>
		<pages controlRenderingCompatibilityVersion="4.0">
			<namespaces>
				<add namespace="System.Web.Configuration"/>
				<add namespace="System.Web.Helpers"/>
				<add namespace="System.Web.Mvc"/>
				<add namespace="System.Web.Mvc.Ajax"/>
				<add namespace="System.Web.Mvc.Html"/>
				<add namespace="System.Web.Routing"/>
				<add namespace="System.Web.WebPages"/>
			</namespaces>
		</pages>
		<httpHandlers>
			<add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah"/>
			<add path="glimpse.axd" verb="GET" type="Glimpse.AspNet.HttpHandler, Glimpse.AspNet"/>
		</httpHandlers>
		<!-- Glimpse: This can be commented in to add additional data to the Trace tab when using WebForms
		<trace writeToDiagnosticsTrace="true" enabled="true" pageOutput="false"/> -->
		<httpModules>
			<add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah"/>
			<add name="Glimpse" type="Glimpse.AspNet.HttpModule, Glimpse.AspNet"/>
		</httpModules>
		<customErrors mode="RemoteOnly" defaultRedirect="Error">
			<error statusCode="404" redirect="Error"/>
		</customErrors>
		<httpRuntime targetFramework="4.6.2" maxRequestLength="40960"/>
	</system.web>
	<elmah>
		<security allowRemoteAccess="1"/>
		<errorLog type="Elmah.SqlErrorLog, Elmah" connectionString="data source=Cudan\SSAPPVFDEV;Initial Catalog=GenBOESpace_Dev;integrated security=True;multipleactiveresultsets=True;" applicationName="GenBOESpace"/>
	</elmah>
	<location path="elmah.axd">
		<system.web>
			<authorization>
				<allow roles="US\EBS.EstimationInitiative.DevTeam"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<!-- This section gives the unauthenticated user access to all of the methods in the BOEData API Controller. -->
	<location path="Api/BoeDataAPI">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<!-- The settings below are system settings, and as such should not be modified as a part of the deployment process -->
	<location path="glimpse.axd">
		<system.web>
			<authorization>
				<allow roles="US\EBS.EstimationInitiative.DevTeam"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<loggingConfiguration name="" tracingEnabled="true" defaultCategory="Performance">
		<listeners>
			<add name="Rolling Flat File Performance Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="logs/generation.performance.csv" footer="" formatter="Performance Formatter" header="" rollFileExistsBehavior="Increment" rollSizeKB="20000" filter="Information" maxArchivedFiles="20"/>
		</listeners>
		<formatters>
			<add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="{timestamp(local)},{message}" name="Performance Formatter"/>
		</formatters>
		<categorySources>
			<add switchValue="All" name="Performance">
				<listeners>
					<add name="Rolling Flat File Performance Listener"/>
				</listeners>
			</add>
		</categorySources>
		<specialSources>
			<allEvents switchValue="All" name="All Events"/>
			<notProcessed switchValue="All" name="Unprocessed Category"/>
			<errors switchValue="Off" name="Logging Errors &amp; Warnings"/>
		</specialSources>
	</loggingConfiguration>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules>
			<add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler"/>
			<add name="Glimpse" type="Glimpse.AspNet.HttpModule, Glimpse.AspNet" preCondition="integratedMode"/>
		</modules>
		<handlers>
			<add name="Elmah" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode"/>
			<add name="Glimpse" path="glimpse.axd" verb="GET" type="Glimpse.AspNet.HttpHandler, Glimpse.AspNet" preCondition="integratedMode"/>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
			<remove name="OPTIONSVerbHandler"/>
			<remove name="TRACEVerbHandler"/>
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
		</handlers>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="41943040"/>
				<hiddenSegments>
					<add segment="logs"/>
				</hiddenSegments>
			</requestFiltering>
		</security>
		<staticContent>
			<remove fileExtension=".woff"/>
			<remove fileExtension=".woff2"/>
			<mimeMap fileExtension=".woff" mimeType="application/font-woff"/>
			<mimeMap fileExtension=".woff2" mimeType="application/font-woff2"/>
		</staticContent>
		<rewrite>
			<rules>
				<rule name="Redirect to HTTPs" stopProcessing="true" enabled="false">
					<match url="(.*)"/>
					<conditions>
						<add input="{HTTPS}" pattern="^OFF$"/>
					</conditions>
					<action type="Redirect" url="https://{HTTP_HOST}/{R:1}"/>
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.3.0.0" newVersion="5.3.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Abstractions" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Routing" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-6.0.3.0" newVersion="6.0.3.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.4" newVersion="9.0.0.4"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="0.0.0.0-5.3.0.0" newVersion="5.3.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Abstractions" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-6.35.1.0" newVersion="6.35.1.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-6.35.1.0" newVersion="6.35.1.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-6.35.1.0" newVersion="6.35.1.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.JsonWebTokens" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-6.35.1.0" newVersion="6.35.1.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-6.35.1.0" newVersion="6.35.1.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Protocols" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-6.35.1.0" newVersion="6.35.1.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.4" newVersion="9.0.0.4"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.4" newVersion="9.0.0.4"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.4" newVersion="9.0.0.4"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.3.0.0" newVersion="5.3.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="v11.0"/>
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
		</providers>
	</entityFramework>
	<glimpse defaultRuntimePolicy="On" endpointBaseUri="~/Glimpse.axd">
		<runtimePolicies>
			<ignoredTypes>
				<add type="Glimpse.AspNet.Policy.LocalPolicy, Glimpse.AspNet"/>
			</ignoredTypes>
		</runtimePolicies>
	</glimpse>
</configuration>
