<div id="editSectionModal">
    <div class="ui-widget-header modal-title-bar">Edit Section<div class="modal-close-box" data-ng-click="$close()"><i class="glyphicon glyphicon-remove"></i></div></div>
    <div class="modal-content-area">
		<form name="form">
			<div class="form-row css3pie-position-fix">
				<div gen-validation data-errors="$root.modalErrors"></div>
			</div>
			<div class="form-row css3pie-position-fix warnings" ng-show="showWarnings">
				<ul>
					<li>Setting change will not become active until the PPR&D is published</li>
				</ul>
			</div>
			<div class="form-row">
				<div class="form-label">Title *</div>
				<div class="form-element">
					<input type="text" name="sectionTitle" data-ng-required="true" data-ng-model="model.Title" class="sectionTitle input-full" maxlength="4000" autofocus />
					<div class="bg-danger">
						<span class="error" data-ng-show="form.sectionTitle.$error.required">
							Title is Required.
						</span>
					</div>
				</div>
			</div>
			<div class="form-row">
				<div class="form-label section-checkbox">Internal</div>
				<div class="form-element">
					<input data-ng-disabled="isReadOnly" type="checkbox" data-ng-model="model.IsInternalSection" data-ng-change="uncheckRequiredIfInternal()" />
				</div>
			</div>
			<div class="form-row">
				<div class="form-label section-checkbox">Require in RDSB</div>
				<div class="form-element">
					<input id="IsRdsbRequiredCheckbox" data-ng-disabled="isReadOnly || model.IsInternalSection" type="checkbox" data-ng-model="model.IsRdsbRequired" />
				</div>
			</div>
			<div class="form-row">
				<div class="form-label section-checkbox">Section contains CASB Disclosure Statement (check if Yes)</div>
				<div class="form-element">
					<input id="SectionContainsCasbDisclosureCheckbox" data-ng-disabled="isReadOnly" type="checkbox" data-ng-model="model.SectionContainsCasbDisclosure" data-ng-change="uncheckIsDisclosureStatementAdequate()" />
				</div>
			</div>
			<div class="form-row sub-form-row">
				<div class="form-label section-checkbox md-long-text">8c Has the Disclosure Statement been determined adequate (check if Yes)</div>
				<div class="form-element">
					<input id="IsDisclosureStatementAdequateCheckbox" data-ng-disabled="isReadOnly || model.SectionContainsCasbDisclosure == false" type="checkbox" data-ng-model="model.IsDisclosureStatementAdequate" data-ng-change="showPublishErrors()" />
				</div>
			</div>
			<div class="form-row">
				<div class="form-label section-checkbox">Section contains Open CAS Non-Compliance Issues (check if Yes)</div>
				<div class="form-element">
					<input id="SectionContainsNonComplianceCheckbox" data-ng-disabled="isReadOnly" type="checkbox" data-ng-model="model.SectionContainsNonCompliance" data-ng-change="uncheckNonComplianceNotification()" />
				</div>
			</div>
			<div class="form-row sub-form-row">
				<div class="form-label section-checkbox md-long-text">8d Have you been notified that you may be in noncompliance with your Disclosure Statement or Cost Account Standards (check if Yes)</div>
				<div class="form-element">
					<input id="NonComplianceNotificationCheckbox" data-ng-disabled="isReadOnly || model.SectionContainsNonCompliance == false" type="checkbox" data-ng-model="model.NonComplianceNotification" data-ng-change="showPublishErrors()" />
				</div>
			</div>
			<div class="modal-footer">
				<button class="ies-action" data-ng-disabled="form.$invalid || $root.modalErrors.length > 0" type="submit" data-ng-click="$close(model)">OK</button>
				<button class="ies" type="button" data-ng-click="$close()">Cancel</button>
			</div>
		</form>
    </div>
</div>