<div id="helpModal">
    <div class="ui-widget-header modal-title-bar">Edit PPR&amp;D Help<div class="modal-close-box" data-ng-click="$close()"><i class="glyphicon glyphicon-remove"></i></div></div>
    <div class="modal-content-area">
        <form name="form">
            <div class="form-row">
                <div class="form-label">Expand a Section:</div>
                <div class="form-element">Click on the <a class="btn btn-success btn-xs"><span class="glyphicon glyphicon-chevron-right"></span></a> icon to expand a collapsed Section.</div>
            </div>
            <div class="form-row">
                <div class="form-label">Collapse a Section:</div>
                <div class="form-element">Click on the <a class="btn btn-success btn-xs"><span class="glyphicon glyphicon-chevron-down"></span></a> icon to collapse an expanded Section.</div>
            </div>
            <div class="form-row">
                <div class="form-label">Add a Section:</div>
                <div class="form-element">To create a parent Section, click on the <a class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-plus">Section</span></a> icon next to a Section's title.</div>
            </div>
            <div class="form-row">
                <div class="form-label">&nbsp;</div>
                <div class="form-element">To create a child Section, click on the <a class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-plus">Sub-section</span></a> icon next to a Section's title.</div>
            </div>
            <div class="form-row">
                <div class="form-label">Add Content:</div>
                <div class="form-element">To create a new Content inside a Section, click on the <a class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-plus">Content</span></a> icon next to a Section's title.</div>
            </div>
            <div class="form-row">
                <div class="form-label">Edit an item (Section/Content):</div>
                <div class="form-element">To edit an item, click on the <a class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span></a> icon next to the item's title.</div>
            </div>
            <div class="form-row">
                <div class="form-label">Delete an item (Section/Content):</div>
                <div class="form-element">To delete an item, click on the <a class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></a> icon next to the item's title.</div>
            </div>
            <div class="form-row">
                <div class="form-label">Move an item (Section/Content):</div>
                <div class="form-element">Items can be moved via drag and drop by dragging when the Move cursor is shown.  To move an item to be inside of a different Section that currently has no sub-sections, drop the item on the Section's title.</div>
            </div>
            <div class="form-row">
                <div class="form-label">Saving changes:</div>
                <div class="form-element">Click on the <button type="button" class="ies-action">Save</button> or the <button type="button" class="ies-action">Save & Continue</button> button to save your changes. Clicking on the Save &amp; Continue does not release your lock for PPR&D, and allows for additional changes.</div>
            </div>
            <div class="modal-footer">
                <button class="ies" type="button" data-ng-click="$close()">OK</button>
            </div>
        </form>
    </div>
</div>