<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="systemConfiguration" type="IES.Common.SystemConfigurationSection, IES.Common, Version=1.0.0.0" />
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="genTracEntities" connectionString="metadata=res://*/PTMEntityModel.csdl|res://*/PTMEntityModel.ssdl|res://*/PTMEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Cudan\SSAPPVFDEV;initial catalog=genTRAC;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GenBoeEntities" connectionString="metadata=res://*/BOEEntityModel.csdl|res://*/BOEEntityModel.ssdl|res://*/BOEEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Cudan\SSAPPVFDEV;Initial Catalog=GenBOESpace_ProdClone;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GenBoeEntitiesCopyTo" connectionString="metadata=res://*/BOEEntityModel.csdl|res://*/BOEEntityModel.ssdl|res://*/BOEEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Cudan\SSAPPVFDEV;Initial Catalog=GenBOESpace;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BI_Datamart_PMMEntities" connectionString="metadata=res://*/MSTMetricsModel.csdl|res://*/MSTMetricsModel.ssdl|res://*/MSTMetricsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MstwDmsbisql\MSBI;initial catalog=BI_Datamart_PMM;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>

    <add key="ActiveUserNTIDWithDomain" value="acct04\twilson3" />
    <add key="workspaceShortNameToCopy" value="18-00485_03" />
    <!-- General Settings -->
    <add key="EmailServer" value="smtp-lmiden.ems.lmco.com" />
    <add key="ActiveDirectoryPath" value="GC://usadc-gtm.us.lmco.com" />
    <add key="ServerURL" value="dev-genboe.ssc.lmco.com" />
    <add key="ProdUrlBoe" value="boe.ssc.lmco.com" />
    <add key="DomesticUsersGroup" value="US\lmco.all.emp" />
    <add key="CompanyConfiguration" value="SpaceSystems" />
	<add key="HelpdeskEmailAddress" value="generation-support.fc-isgs@lmco.com" />
    <add key="LMIProxy" value="http://proxy-zsgov.external.lmco.com" />
    
    <!-- SSC Settings -->
    <add key="ShowEquivalentPersonsOption" value="false" />
    <add key="IsBOEFormVisible" value="true" />
    <add key="IsPortionMarkingEnabled" value="false" />
    <add key="IESHomeUrl" value="http://dev-ies.ssc.lmco.com/Home/" />
    <add key="IsPTMIntegrated" value="true" />
    <!-- Hours offset to convert from the DB's timezone to EST - Database currently in CO using MST, 2 hours behind EST -->
    <add key="DatabaseESTOffset" value="2" />

    <!-- Piwik Settings -->
    <add key="DisablePiwik" value="true" />
    <add key="PiwikURL" value="https://techopstoolbox.global.lmco.com/piwik/" />
    <add key="PiwikId" value="0" />

    <!-- MST Measure / Metrics (RMS main version only) -->
    <add key="MstMetricsUrl" value="http://msbidev.us.lmco.com/sites/PMM/default.aspx" />
    <add key="MSTSearchCriteriaHelp" value="http://msbiprod.us.lmco.com/sites/PMM/HelpInputs/Input-genBoeSearchHistoricalMeasures.pptx" />
    <add key="MSTSearchResultsHelpLink" value="http://msbiprod.us.lmco.com/sites/PMM/HelpInputs/Input-genBoeSearchResults.pptx" />
    <add key="MSTSearchResultsDetailHelpLink" value="http://msbiprod.us.lmco.com/sites/PMM/HelpInputs/Input-genBoeSearchResultsDetail.pptx" />

    <!-- Project Map Settings (RMS only)-->
    <add key="IsProjectMapEnabled" value="true" />
    <add key="ReportServerLocation" value="https://sscreports-dev.ssc.lmco.com/ReportServer_SSRS30D?" />
    <add key="ReportServerFolderName" value="generation/genBOEMST/RMS" />
    <add key="MaximumRowsInProjectMap" value="15000" />
    <add key="ProjectMapPageSize" value="50" />

    <!-- Dev level settings -->
    <add key="APPLICATION_VERSION" value="WIP - Local" />
    <add key="LogType" value="INFO" />
    <add key="SearchResultsThreshold" value="100" />
    <add key="DisableAllEmails" value="False" />
    <add key="EmailsToCurrentlyLoggedInUser" value="True" />
    <add key="TransactionTimeout" value="360" />
    <add key="CopyWorkspaceTransactionTimeout" value="600" />
    <add key="MIECostUpdateActivationDate" value="10/15/2012" />
    <add key="MIECostUpdateTripDate" value="11/01/2012" />
    <add key="ExportLoggingEnableInternalMV" value="false" />
    <add key="ExportLoggingEnableInternalExport" value="false" />
    <add key="ShowUserName" value="true" />
    <add key="MaxDegreeOfParallelism" value="3" />
    <add key="MaxDbQueries" value="25" />
    <add key="IsIdentitySwappingAllowed" value="true" />
    <add key="ADGroupsAllowedToSwapIdentity" value="US\EBS.EstimationInitiative.DevTeam,US\EBS.EstimationInitiative.ApprovedDevAndTestUsers" />
    <add key="ShowCompanyConfiguration" value="true" />
  </appSettings>

  <elmah>
    <security allowRemoteAccess="1" />
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionString="data source=Cudan\SSAPPVFDEV;Initial Catalog=GenBOESpace;integrated security=True;multipleactiveresultsets=True;" applicationName="GenBOESpace" />
  </elmah>

  <!-- The settings below are system settings, and as such should not be modified as a part of the deployment process -->
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="Performance">
    <listeners>
      <add name="Rolling Flat File Performance Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="logs/generation.performance.csv" footer="" formatter="Performance Formatter" header="" rollFileExistsBehavior="Increment" rollSizeKB="20000" filter="Information" maxArchivedFiles="20" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="{timestamp(local)},{message}" name="Performance Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="Performance">
        <listeners>
          <add name="Rolling Flat File Performance Listener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="Off" name="Logging Errors &amp; Warnings" />
    </specialSources>
  </loggingConfiguration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Abstractions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Routing" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.3.0.0" newVersion="5.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.3.0.0" newVersion="5.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup></configuration>
