[*.cs]

# IDE0052: Remove unused private members
dotnet_diagnostic.IDE0052.severity = error
dotnet_diagnostic.RemoveUnnecessaryImportsFixable.severity=error
dotnet_diagnostic.IDE0051.severity=error
dotnet_diagnostic.IDE0064.severity=error
csharp_style_expression_bodied_methods= false:warning
csharp_style_expression_bodied_constructors= false:warning
csharp_style_expression_bodied_operators= false:warning
csharp_style_expression_bodied_properties= true:none
csharp_style_expression_bodied_indexers= true:warning
csharp_style_expression_bodied_accessors= true:warning
csharp_style_expression_bodied_lambdas= true:suggestion
csharp_style_expression_bodied_local_functions= false:warning
dotnet_diagnostic.IDE0043.severity=warning
dotnet_diagnostic.CA1070.severity=warning
dotnet_diagnostic.IDE0076.severity=none
dotnet_diagnostic.IDE0077.severity=warning
dotnet_diagnostic.CA1001.severity=warning
dotnet_diagnostic.CA1200.severity=silent
dotnet_diagnostic.CA1309.severity=none
dotnet_diagnostic.CA1507.severity=warning
dotnet_diagnostic.CA1824.severity=warning
dotnet_diagnostic.CA1825.severity=warning
dotnet_diagnostic.CA1849.severity=none
dotnet_diagnostic.CA2016.severity=warning
dotnet_diagnostic.CA2254.severity=none
dotnet_diagnostic.CA3076.severity=warning
dotnet_diagnostic.CA3077.severity=warning
dotnet_diagnostic.IDE0004.severity=error
dotnet_diagnostic.IDE0005.severity=warning
dotnet_diagnostic.IDE0005_gen.severity=warning
dotnet_diagnostic.IDE0007.severity=error
dotnet_diagnostic.IDE0009.severity=warning
dotnet_diagnostic.IDE0010.severity=warning
dotnet_diagnostic.IDE0011.severity=error
dotnet_diagnostic.IDE0016.severity=warning
dotnet_diagnostic.IDE0017.severity=none
dotnet_diagnostic.IDE0018.severity=warning
dotnet_diagnostic.IDE0019.severity=warning
dotnet_diagnostic.IDE0020.severity=warning
dotnet_diagnostic.IDE0021.severity=warning
dotnet_diagnostic.IDE0022.severity=silent
dotnet_diagnostic.IDE0023.severity=warning
dotnet_diagnostic.IDE0024.severity=warning
dotnet_diagnostic.IDE0025.severity=none
dotnet_diagnostic.IDE0026.severity=warning
dotnet_diagnostic.IDE0027.severity=warning
dotnet_diagnostic.IDE0028.severity=warning
dotnet_diagnostic.IDE0029.severity=warning
dotnet_diagnostic.IDE0030.severity=none
dotnet_diagnostic.IDE0031.severity=warning
dotnet_diagnostic.IDE0032.severity=warning
dotnet_diagnostic.IDE0034.severity=silent
dotnet_diagnostic.IDE0035.severity=warning
csharp_indent_braces=false
csharp_using_directive_placement= inside_namespace:silent
csharp_prefer_simple_using_statement= true:none
csharp_style_throw_expression=true:warning
csharp_prefer_simple_default_expression=true:warning
csharp_style_pattern_local_over_anonymous_function=true:warning
csharp_style_prefer_index_operator=true:warning
csharp_style_prefer_range_operator=true:warning
csharp_style_inlined_variable_declaration=true:warning
csharp_style_deconstructed_variable_declaration=true:warning
csharp_style_unused_value_assignment_preference=discard_variable:warning
csharp_style_unused_value_expression_statement_preference=discard_variable:none

# IDE0058: Expression value is never used
dotnet_diagnostic.IDE0058.severity =warning
csharp_style_var_for_built_in_types=false:error
csharp_style_var_when_type_is_apparent=false:error
csharp_style_var_elsewhere=false:error
dotnet_diagnostic.IDE0041.severity=warning
dotnet_diagnostic.IDE0050.severity=warning
dotnet_diagnostic.IDE0055.severity=suggestion
dotnet_diagnostic.IDE0059.severity=warning
dotnet_diagnostic.IDE0060.severity=warning
dotnet_diagnostic.IDE0063.severity=none
dotnet_diagnostic.IDE0065.severity=warning
dotnet_diagnostic.IDE0066.severity=warning
dotnet_diagnostic.IDE0071.severity=warning
dotnet_diagnostic.IDE0090.severity=error
dotnet_diagnostic.IDE0120.severity=warning
dotnet_diagnostic.IDE2000.severity=warning
dotnet_diagnostic.IDE2001.severity=warning
dotnet_diagnostic.IDE2002.severity=warning
dotnet_diagnostic.IDE2003.severity=warning
dotnet_diagnostic.IDE2004.severity=warning
dotnet_diagnostic.IDE0100.severity=warning
dotnet_diagnostic.IDE0110.severity=warning
dotnet_diagnostic.IDE1005.severity=warning
dotnet_diagnostic.IDE1006.severity=silent
dotnet_diagnostic.IDE0083.severity=warning
dotnet_diagnostic.IDE0082.severity=warning
dotnet_diagnostic.IDE0080.severity=warning
dotnet_diagnostic.IDE0078.severity=warning
dotnet_diagnostic.IDE0075.severity=warning
dotnet_diagnostic.IDE0074.severity=warning
dotnet_diagnostic.IDE0073.severity=warning
dotnet_diagnostic.IDE0072.severity=warning
dotnet_diagnostic.IDE0054.severity=warning
dotnet_diagnostic.IDE0047.severity=warning
dotnet_diagnostic.IDE0048.severity=warning
dotnet_diagnostic.IDE0046.severity=none
dotnet_diagnostic.IDE0045.severity=none
dotnet_diagnostic.IDE0040.severity=warning
dotnet_diagnostic.IDE0039.severity=warning
dotnet_diagnostic.IDE0037.severity=warning
dotnet_diagnostic.IDE0270.severity=silent

# IDE0053: Use expression body for lambda expressions
dotnet_diagnostic.IDE0053.severity = suggestion
csharp_indent_labels = one_less_than_current
csharp_prefer_braces = true:silent
csharp_style_namespace_declarations = block_scoped:silent
csharp_style_prefer_method_group_conversion = true:silent
csharp_style_prefer_top_level_statements = true:silent
csharp_style_prefer_primary_constructors = true:suggestion
csharp_prefer_system_threading_lock = true:suggestion

[*.{cs,vb}]
dotnet_style_prefer_is_null_check_over_reference_equality_method= true:warning
dotnet_style_prefer_auto_properties= true:warning
dotnet_diagnostic.CA1000.severity=warning
dotnet_diagnostic.CA1002.severity=none
dotnet_diagnostic.CA1008.severity=none
dotnet_diagnostic.CA1010.severity=warning
dotnet_diagnostic.CA1014.severity=none
dotnet_diagnostic.CA1016.severity=warning
dotnet_diagnostic.CA1018.severity=warning
dotnet_diagnostic.CA1020.severity=none
dotnet_diagnostic.CA1021.severity=none
dotnet_diagnostic.CA1024.severity=none
dotnet_diagnostic.CA1036.severity=warning
dotnet_diagnostic.CA1041.severity=warning
dotnet_diagnostic.CA1050.severity=warning
dotnet_diagnostic.CA1051.severity=none
dotnet_diagnostic.CA1061.severity=warning
dotnet_diagnostic.CA1067.severity=warning
dotnet_diagnostic.CA1068.severity=warning
dotnet_diagnostic.CA1069.severity=warning
dotnet_diagnostic.CA1304.severity=suggestion
dotnet_diagnostic.CA1305.severity=none
dotnet_diagnostic.CA1310.severity=none
dotnet_diagnostic.CA2101.severity=warning
dotnet_diagnostic.CA1401.severity=warning
dotnet_diagnostic.CA1704.severity=none
dotnet_diagnostic.CA1707.severity=none
dotnet_diagnostic.CA1708.severity=error
dotnet_diagnostic.CA1709.severity=none
dotnet_diagnostic.CA1710.severity=warning
dotnet_diagnostic.CA1711.severity=warning
dotnet_diagnostic.CA1712.severity=error
dotnet_diagnostic.CA1715.severity=warning
dotnet_diagnostic.CA1716.severity=warning
dotnet_diagnostic.CA1720.severity=warning
dotnet_diagnostic.CA1725.severity=warning
dotnet_diagnostic.CA1805.severity=warning
dotnet_diagnostic.CA1806.severity=warning
dotnet_diagnostic.CA1821.severity=error
dotnet_diagnostic.CA1822.severity=suggestion
dotnet_diagnostic.CA1826.severity=error
dotnet_diagnostic.CA1827.severity=error
dotnet_diagnostic.CA1828.severity=error
dotnet_diagnostic.CA1829.severity=error
dotnet_diagnostic.CA1830.severity=error
dotnet_diagnostic.CA1832.severity=warning
dotnet_diagnostic.CA1833.severity=warning
dotnet_diagnostic.CA1834.severity=warning
dotnet_diagnostic.CA1835.severity=warning
dotnet_diagnostic.CA1836.severity=error
dotnet_diagnostic.CA1837.severity=warning
dotnet_diagnostic.CA1838.severity=warning
dotnet_diagnostic.CA2009.severity=warning
dotnet_diagnostic.CA2011.severity=warning
dotnet_diagnostic.CA2012.severity=warning
dotnet_diagnostic.CA2227.severity=none
dotnet_diagnostic.CA3061.severity=warning
dotnet_diagnostic.CA3075.severity=warning
dotnet_diagnostic.CA3147.severity=warning
dotnet_diagnostic.CA5350.severity=warning
dotnet_diagnostic.CA5351.severity=warning
dotnet_diagnostic.CA5359.severity=warning
dotnet_diagnostic.CA5360.severity=warning
dotnet_diagnostic.CA5363.severity=warning
dotnet_diagnostic.CA5364.severity=warning
dotnet_diagnostic.CA5365.severity=warning
dotnet_diagnostic.CA5366.severity=warning
dotnet_diagnostic.CA5368.severity=warning
dotnet_diagnostic.CA5369.severity=warning
dotnet_diagnostic.CA5370.severity=warning
dotnet_diagnostic.CA5371.severity=warning
dotnet_diagnostic.CA5372.severity=warning
dotnet_diagnostic.CA5373.severity=warning
dotnet_diagnostic.CA5374.severity=warning
dotnet_diagnostic.CA5379.severity=warning
dotnet_diagnostic.CA5384.severity=warning
dotnet_diagnostic.CA5385.severity=warning
dotnet_diagnostic.CA5397.severity=warning
dotnet_diagnostic.IDE0033.severity=warning
dotnet_diagnostic.IDE0044.severity=warning
dotnet_diagnostic.IDE0070.severity=warning

# Default severity for analyzer diagnostics with category 'Naming'
dotnet_analyzer_diagnostic.category-Naming.severity = warning
indent_style=tab
dotnet_style_coalesce_expression= true:none
dotnet_style_null_propagation= true:warning
dotnet_style_object_initializer=true:none
dotnet_style_collection_initializer=true:warning
dotnet_style_prefer_simplified_boolean_expressions=true:warning
dotnet_style_prefer_conditional_expression_over_assignment=true:warning
dotnet_style_prefer_conditional_expression_over_return=true:warning
dotnet_style_explicit_tuple_names=true:warning
dotnet_style_prefer_inferred_anonymous_type_member_names=true:warning
dotnet_style_prefer_inferred_tuple_names=true:warning
dotnet_style_prefer_compound_assignment=true:warning
dotnet_style_readonly_field=true:warning
dotnet_diagnostic.CA2245.severity=warning
dotnet_diagnostic.CA2201.severity=none
dotnet_diagnostic.CA2211.severity=warning
dotnet_diagnostic.CA2208.severity=warning
dotnet_diagnostic.CA2215.severity=warning
dotnet_diagnostic.CA2219.severity=warning
dotnet_diagnostic.CA2229.severity=warning
dotnet_diagnostic.CA2241.severity=warning
dotnet_diagnostic.CA2231.severity=warning
dotnet_style_operator_placement_when_wrapping = beginning_of_line
tab_width = 4
indent_size = 4
end_of_line = crlf

[*.vb]
dotnet_diagnostic.CA1047.severity=warning
[*.cs]
#### Naming styles ####

# Naming rules

dotnet_naming_rule.interface_should_be_begins_with_i.severity = warning
dotnet_naming_rule.interface_should_be_begins_with_i.symbols = interface
dotnet_naming_rule.interface_should_be_begins_with_i.style = begins_with_i

dotnet_naming_rule.types_should_be_pascal_case.severity = suggestion
dotnet_naming_rule.types_should_be_pascal_case.symbols = types
dotnet_naming_rule.types_should_be_pascal_case.style = pascal_case

dotnet_naming_rule.non_field_members_should_be_pascal_case.severity = suggestion
dotnet_naming_rule.non_field_members_should_be_pascal_case.symbols = non_field_members
dotnet_naming_rule.non_field_members_should_be_pascal_case.style = pascal_case

# Symbol specifications

dotnet_naming_symbols.interface.applicable_kinds = interface
dotnet_naming_symbols.interface.applicable_accessibilities = public, internal, private, protected, protected_internal
dotnet_naming_symbols.interface.required_modifiers = 

dotnet_naming_symbols.types.applicable_kinds = class, struct, interface, enum
dotnet_naming_symbols.types.applicable_accessibilities = public, internal, private, protected, protected_internal
dotnet_naming_symbols.types.required_modifiers = 

dotnet_naming_symbols.non_field_members.applicable_kinds = property, event, method
dotnet_naming_symbols.non_field_members.applicable_accessibilities = public, internal, private, protected, protected_internal
dotnet_naming_symbols.non_field_members.required_modifiers = 

# Naming styles

dotnet_naming_style.begins_with_i.required_prefix = I
dotnet_naming_style.begins_with_i.required_suffix = 
dotnet_naming_style.begins_with_i.word_separator = 
dotnet_naming_style.begins_with_i.capitalization = pascal_case

dotnet_naming_style.pascal_case.required_prefix = 
dotnet_naming_style.pascal_case.required_suffix = 
dotnet_naming_style.pascal_case.word_separator = 
dotnet_naming_style.pascal_case.capitalization = pascal_case

dotnet_naming_style.pascal_case.required_prefix = 
dotnet_naming_style.pascal_case.required_suffix = 
dotnet_naming_style.pascal_case.word_separator = 
dotnet_naming_style.pascal_case.capitalization = pascal_case

[*.vb]
#### Naming styles ####

# Naming rules

dotnet_naming_rule.interface_should_be_begins_with_i.severity = suggestion
dotnet_naming_rule.interface_should_be_begins_with_i.symbols = interface
dotnet_naming_rule.interface_should_be_begins_with_i.style = begins_with_i

dotnet_naming_rule.types_should_be_pascal_case.severity = suggestion
dotnet_naming_rule.types_should_be_pascal_case.symbols = types
dotnet_naming_rule.types_should_be_pascal_case.style = pascal_case

dotnet_naming_rule.non_field_members_should_be_pascal_case.severity = suggestion
dotnet_naming_rule.non_field_members_should_be_pascal_case.symbols = non_field_members
dotnet_naming_rule.non_field_members_should_be_pascal_case.style = pascal_case

# Symbol specifications

dotnet_naming_symbols.interface.applicable_kinds = interface
dotnet_naming_symbols.interface.applicable_accessibilities = public, friend, private, protected, protected_friend, private_protected
dotnet_naming_symbols.interface.required_modifiers = 

dotnet_naming_symbols.types.applicable_kinds = class, struct, interface, enum
dotnet_naming_symbols.types.applicable_accessibilities = public, friend, private, protected, protected_friend, private_protected
dotnet_naming_symbols.types.required_modifiers = 

dotnet_naming_symbols.non_field_members.applicable_kinds = property, event, method
dotnet_naming_symbols.non_field_members.applicable_accessibilities = public, friend, private, protected, protected_friend, private_protected
dotnet_naming_symbols.non_field_members.required_modifiers = 

# Naming styles

dotnet_naming_style.begins_with_i.required_prefix = I
dotnet_naming_style.begins_with_i.required_suffix = 
dotnet_naming_style.begins_with_i.word_separator = 
dotnet_naming_style.begins_with_i.capitalization = pascal_case

dotnet_naming_style.pascal_case.required_prefix = 
dotnet_naming_style.pascal_case.required_suffix = 
dotnet_naming_style.pascal_case.word_separator = 
dotnet_naming_style.pascal_case.capitalization = pascal_case

dotnet_naming_style.pascal_case.required_prefix = 
dotnet_naming_style.pascal_case.required_suffix = 
dotnet_naming_style.pascal_case.word_separator = 
dotnet_naming_style.pascal_case.capitalization = pascal_case

